/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

END OF CSS RESET

*/



body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  position: absolute;
  /*background-color: red;*/
}

h2 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 5px;
}

h1 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 100px;
	letter-spacing: 5px;
}

p {
	font-family: monospace;
	letter-spacing: .5px;
}

a {
  color: #00B7FF;
}

.project-view {
	width: 100%;
	min-width: 800px;
	height: 100%;
	display: block;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0);
	-webkit-transition: all 0.25s; /* Safari */
    		transition: all 0.25s;
}

.project-overview:hover {
	/*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18);*/
	cursor: pointer;
}

.project-overview:hover .overlay {
	background-color: rgba(255,255,255,0.15);
}

.project-overview:hover .hero {
	-webkit-transform:scale(1.03); /* Safari and Chrome */
       -moz-transform:scale(1.03); /* Firefox */
        -ms-transform:scale(1.03); /* IE 9 */
         -o-transform:scale(1.03); /* Opera */
            transform:scale(1.03);
}

.project-overview:hover .description {
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	/*border: solid 1px rgba(218, 218, 218, 0);*/
}

.project-content {
	width: 100%;
	height: 1000px;
}

#logo {
	float: left;
	position: absolute;
	margin-top: 35px;
	margin-left: 10px;
	/*background-color: rgba(125,125,125,0.25);*/
}

#logo:hover {
	cursor: pointer;
}

#logo img {
	width: 100px;
	position: relative;
	display: block;
	margin-left: 25px;
}

#logo p {
	margin-top: 75px;
	margin-left: -5px;
	text-align: right;
	line-height: 1.5em;
	position: relative;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

#hamburger img {
	float: right;
	margin: 50px;
	width: 65px;
	border: solid 1px rgba(218, 218, 218, 1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
	-webkit-transition: all 0.25s; /* Safari */
    transition: all 0.25s;
}

#hamburger img:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.18);
	border: solid 1px rgba(218, 218, 218, 0);
}

#hamburger img:active {
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0);*/
	opacity: 0.25;
}

#arrow {
	display: block;
	position:absolute;
	bottom: 50px; 
	text-align: center;
	border-radius: 100%;
	border: solid 1px rgba(0,0,0,0);
	margin-left: 50%;
	padding: 25px;
	height: 50px;
	width: 50px;
	opacity: 0.25;
	z-index: 100;
	-webkit-animation: arrow-animate 1s ease-in-out 2s infinite;
       -moz-animation: arrow-animate 1s ease-in-out 2s infinite;
         -o-animation: arrow-animate 1s ease-in-out 2s infinite;
			animation: arrow-animate 1s ease-in-out 2s infinite;
	-webkit-transition: all 0.25s; /* Safari */
	transition: all 0.25s;
}

#arrow:hover {
	border: solid 1px rgba(0,0,0,1);
	-webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
         -o-animation-play-state: paused;
     		animation-play-state: paused;
}

#arrow:active {
	border: solid 1px rgba(0,0,0,0);
	-webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
         -o-animation-play-state: paused;
     		animation-play-state: paused;
}

.project-overview {
	width: 75%;
	min-width: 800px;
	height: 65%;
}

.hero-box {
	overflow: hidden;
	width: 100%;
	min-width: 800px;
	height: 100%;
	
}

.hero {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;   
    background-position: center; 
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    		transition-timing-function: ease-in-out;
    -webkit-transition: all 1s; /* Safari */
			transition: all 1s;
}

#pagination {
	position: absolute;
	right: 82px;
	margin-left: 25px;
}

.pagination {
	width: 10px;
	height: 10px;
	margin-bottom: 10px;
	border-radius: 100%;
	border: 1px solid black;
	-webkit-transition: background-color 0.25s; /* Safari */
    		transition: background-color 0.25s;
}

.pagination:hover {
	background-color: black;
	cursor: pointer;
}

.pagination:active {
	background-color: orange;
	border: 1px solid orange;
}

.description {
	width: 250px;
	max-height: 300px;
	background-color: white;
	padding: 40px 30px 15px 30px;
	margin-left: 7.5%;
	position: absolute;
	bottom: -15%;
	z-index: 2;
	border: solid 1px rgba(218, 218, 218, 1);
	box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.18);
	-webkit-transition: all 0.25s; /* Safari */
			transition: all 0.25s;
}

.description h3 {
	margin-bottom: 25px;
	margin-top: 5px;
	text-align: center;
}

.description h2 {
	margin-bottom: 25px;
	/*font-size: 20px;*/
	text-transform: uppercase;
	text-align: center;
}

.description p {
	line-height: 2em;
	margin-bottom: 25px;
	text-align: center;
}

.project-box {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: -1;
	display: block;
	/*overflow: hidden;*/
}

.overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: rgba(255,255,255,0);
	-webkit-transition: background-color 1s ease-in-out; /* Safari */
    		transition: background-color 1s ease-in-out;

}

/*.hero img*/



/*

Animations

*/

@-webkit-keyframes arrow-animate { 
					0%  {transform: none;}
					50% { transform: translate(0px,15px); }  }
					/*0%  {transform: none;}*/
   @-moz-keyframes arrow-animate { 
					0%  {transform: none;}
					50% { transform: translate(0px,15px); }  }
					0%  {transform: none;}
     @-o-keyframes arrow-animate { 
					0%  {transform: none;}
					50% { transform: translate(0px,15px); }  }
					0%  {transform: none;}
        @keyframes arrow-animate { 
					0%  {transform: none;}
					50% { transform: translate(0px,15px); }  }
					0%  {transform: none;}