doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/all.css")
        link(rel='stylesheet', href='./plugins/slick/slick.css')
        link(rel='stylesheet', href='./plugins/slick/slick-theme.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        
        <!-- https://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-android-chrome-v -->
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#232323">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#232323">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#232323">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        #fx-container.full.fixed
        #wrapper
            block content
        script(src="js/bundle.min.js")
        script(src='./plugins/slick/slick.min.js')
        script(src='./plugins/widowtamer/widowtamer.js')