extends layout

block content
    #logo
        img(src = "/images/logo.svg" alt = "main logo")
        p 
           | Alex Norton<br>
           | UX Design / Systems

    #hamburger
        img(src = "/images/hamburger2.svg" alt = "main nav")

    img#arrow(src = "/images/rnd.svg" alt = "down arrow")

    #pagination
        for result in projects
            .pagination&attributes({'data': result.name})

    // IMAGE TEST
    each result, index in projects
        .project-view&attributes({'data': index})
            .hero-box
                .description
                    p - #{result.year} -
                    h2 #{result.name}
                    p #{result.description_short}
                .overlay
                .hero(style='background-image: url(#{result.images[0].src});')
    // /IMAGE TEST