extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // ITERATE PROJECTS
        each project in projects
            img(src=project.images[0].src, alt=project.images[0]name)

        // /ITERATE PROJECTS

        // IMAGE TEST
        h2#dynam-text Image Test
        img#im-test.hero-img
        // /IMAGE TEST

    // /WRAPPER