extends layout

block content
    #logo
        img(src = "/images/logo.svg" alt = "main logo")
        p 
           | Alex Norton<br>
           | UX Design / Systems

    // Wrapper
    #wrapper

        // IMAGE TEST
        for result in projects
            h2= result.name
            .hero
                img.hero-img(src= result.images[0].src)

        // /IMAGE TEST

    // /WRAPPER