doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        block content
        // script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src="compiled.js")
        script(src='/javascripts/global.js')
        script(src='/javascripts/jquery.centerIn.js')
        script(src='/javascripts/p5/lib/p5.min.js')
        script(src='/javascripts/p5/lib/p5.dom.js')
        script(src='/javascripts/p5/lib/toxiclibs.js')
        script(src='/javascripts/p5/lib/toxichelper.js')
        script(src='/javascripts/p5/sketch.js')