doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/plugins/slick/slick.css')
        link(rel='stylesheet', href='/plugins/slick/slick-theme.css')
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
        script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js")
        script(src='/plugins/slick/slick.min.js')            
        script(src='/javascripts/global.js')
        script(src='/javascripts/jquery.centerIn.js')
        script(src='/javascripts/p5/lib/p5.min.js')
        script(src='/javascripts/p5/lib/p5.dom.js')
        script(src='/javascripts/p5/lib/toxiclibs.js')
        script(src='/javascripts/p5/lib/toxichelper.js')
        script(src='/javascripts/p5/sketch.js')
        //script(src="compiled.js")