/*

BIOS section

*/

@require 'color.styl'
@require 'type.styl'


/* -------------------------------------- */
/* Variables */

$Margins = 100px
$StickyOffset = 40vh



/* -------------------------------------- */
/* Elements */

#bios 
	width 100%
	padding-top 30%
	padding-bottom 25% // Only for beta
	

#bios-wrapper
	max-width 1200px
	min-width 650px
	width 75% 
	position relative
	margin-left auto
	margin-right auto
	display flex
	justify-content space-between
	flex-direction row


#bios-content h1 
	text-align left
	margin-top 55px
	margin-bottom 25px
	font-family Chronicle-Roman, serif
	font-size 50px
	line-height 1.5em
	

#bios-content h3
	text-align left


#bios-content p 
	text-align left
	font-family Chronicle-Roman, serif
	font-size 18px
	line-height 1.75em
	letter-spacing 0
	

#bios-content img 
	width 100%
	position relative


#bios-content button 
	background-color transparent
	border 1px solid grey
	padding 10px 20px 10px 20px
	margin-left 125px
	margin-top 15px
	display inline-flex
	text-align center
	align-items center
	justify-content center
	transition all ease-in-out 250ms


#bios-content button:hover 
	cursor pointer
	background-color #404040
	border-color #404040
	

#bios-content button:hover p
	color white


#bios-content button:active 
	cursor pointer
	background-color transparent
	color black
	outline none


#bios-content button:focus 
	outline 0


#bios-content button p 
	font-family Chronicle-Roman, serif
	color grey
	font-size 12px
	line-height 2.4em
	margin 0
	text-transform uppercase
	letter-spacing 5px
	text-align center
	align-self center
	

.bios-title
	top $StickyOffset
	max-width 600px
	min-width 200px
	width 40%
	height 500px
	order 1
	
.bios-title:before,
.bios-title:after {
    content ''
    display table
}
	
	
.bios-title-pin
	position fixed
	

.bios-content 
	position relative
	max-width 600px
	min-width 350px
	box-sizing content-box
	width 40%
	order 2
	

.bios-content img
	clip-path none
	

#bios-title img
	width 100%
	opacity 0.9
	

#bios-title p
	font-family Circular-Bold
	font-size 12px
	text-transform uppercase
	letter-spacing 3px
	text-align left
	position relative
	padding-top 2em
	color $BLACK	


#readMore 
	margin-top 30px


#readMore 
	display none
	

.copy
	position relative
	left -25px
	border-left 1px solid $GRAY
	padding-left 25px
	margin-top 50px
	

.copy q
	margin-top 25px
	text-align left
	

.copy h5
	display none
	

.copy h5:hover
	color $GREY
	cursor pointer
	

.copy h5:active
	color $BLACK
	cursor pointer
	

#bios a
	font-family Circular-Bold
	font-size 12px
	text-transform uppercase
	letter-spacing 3px
	text-align left
	color $BLACK
	padding-bottom 2px
	border-color $BLACK
	border-bottom 1px solid
	transition all 100ms
	

#bios a:hover
	cursor pointer
	color $GREY
	border-color $GREY
	

#self-long
	display block
	visibility visible
	opacity 1
	


/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.bios-title
		position absolute
		top 5%
		max-width 600px
		min-width 200px
		width 60%
		z-index 2
		
	.bios-content 
		position relative
		margin-left auto
		max-width 600px
		min-width 350px
		box-sizing content-box
		width 65%
		order 2
		
	.copy
		border-left none
		padding-left 0
		margin-top 25px
		left 0
		
	.copy h5
		display inline-block
		margin-top 75px
		opacity 1
		visibility visible
		
	#self-long
		display none
		
	#bios-wrapper
		min-width 500px
		width 75% 
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.bios-title
		position absolute
		top 5%
		max-width 600px
		min-width 200px
		width 60%
		z-index 2

	.bios-content 
		position relative
		margin-left auto
		max-width 600px
		min-width 350px
		box-sizing content-box
		width 65%
		order 2
		
	.copy
		border-left none
		padding-left 0
		margin-top 25px
		left 0
		
	.copy h5
		display inline-block
		margin-top 75px
		opacity 1
		visibility visible
		
	#self-long
		display none

	#bios-wrapper
		min-width 500px
		width 75% 
		


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen && Mobile */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.bios-title
		top 250px
		width 75%
		height 250px

	.bios-content 
		max-width 450px
		min-width 300px
		width 100%
		
	.bios-content img
		clip-path inset(0 0 30% 0)
		filter opacity(50%)
		height 475px
		
	.copy
		position relative
		left 0
		border-left none
		text-align center
		padding-left 0
		margin-top 0	
		
	.body-copy
		font-size 16px
		
	.copy h5
		display inline-block
		margin-top 75px
		
	#self-long
		display none

	#bios-wrapper
		min-width 300px
		width 90% 
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.bios-title
		top 250px
		width 75%
		height 250px

	.bios-content 
		max-width 450px
		min-width 300px
		width 100%
		
	.bios-content img
		clip-path inset(0 0 30% 0)
		filter opacity(50%)
		height 475px
		
	.copy
		position relative
		left 0
		border-left none
		text-align center
		padding-left 0
		margin-top 0	
		
	.body-copy
		font-size 16px
		
	.copy h5
		display inline-block
		margin-top 75px
		
	#self-long
		display none

	#bios-wrapper
		min-width 300px
		width 90% 

		



	