/*

BIOS section

*/

@require 'color.styl'
@require 'type.styl'


/* -------------------------------------- */
/* Variables */

$Margins = 100px
$StickyOffset = 40vh



/* -------------------------------------- */
/* Elements */

#bios 
	width 100%
	padding-top 15%
	// padding-bottom 15% // Only for beta
	

#bios-wrapper
	max-width 1200px
	min-width 650px
	width 75% 
	position relative
	margin-left auto
	margin-right auto
	display flex
	justify-content space-between
	flex-direction row


#bios-content h1 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 50px
	
	line-height 1.5em
	text-align left
	
	margin-top 55px
	margin-bottom 25px
	

#bios-content img 
	width 100%
	position relative
	border-radius 100px 100px 0 0


#bios-content button 
	background-color transparent
	padding 10px 20px 10px 20px
	transition all ease-in-out 250ms


#bios-content button:hover 
	cursor pointer


#bios-content button:focus 
	outline 0


#bios-content button p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	
	text-transform uppercase
	letter-spacing 5px
	line-height 2.4em
	text-align center
	
	color grey
	
	margin 0
	
	align-self center
	
#bios-more
	display block
	
#resume
	display inline-block
	margin 16px 0
	color $GREY
	
#resume:hover
	cursor pointer
	color $DARK_GRAY
	border-color $DARK_GRAY
	

.bios-title
	top $StickyOffset
	max-width 600px
	min-width 200px
	width 40%
	height 500px
	user-select none
	order 1
	
.bios-title:before,
.bios-title:after {
    content ''
    display table
}
	
	
.bios-title-pin
	position fixed
	

.bios-content 
	position relative
	max-width 600px
	min-width 350px
	box-sizing content-box
	width 40%
	order 2
	

.bios-content img
	clip-path none
	

#bios-title img
	width 100%
	opacity 0.9

#bios-title h1
	font-family 'GT-Flexa-Exp-Md', 'Source Sans Pro', sans-serif
	font-size 96px
	

#bios-title p
	font-family 'Circular-Bold', 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 12px
	
	text-transform uppercase
	letter-spacing 3px
	text-align left
	
	line-height 18px
	
	position relative
	
	padding-top 2em
	
	color $BLACK	


#readMore 
	margin-top 30px


#readMore 
	display none
	

.copy
	position relative
	margin-top 50px
	

.copy q
	margin-top 25px
	text-align left
	

.copy h5
	display none
	

.copy h5:hover
	color $GREY
	cursor pointer
	

.copy h5:active
	color $BLACK
	cursor pointer
	

#self-long
	display none

#bios-about
	display none
	


/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.bios-title
		position absolute
		top 5%
		max-width 600px
		min-width 200px
		width 60%
		z-index 2
		
	.bios-content 
		position relative
		margin-left auto
		max-width 600px
		min-width 350px
		box-sizing content-box
		width 65%
		order 2
		
	.copy h5
		display inline-block
		margin-top 75px
		opacity 1
		visibility visible
		
	#self-long
		display none
		
	#bios-wrapper
		min-width 500px
		width 75%
		
	#bios-more
		display block 
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.bios-title
		position absolute
		top 5%
		max-width 600px
		min-width 200px
		width 60%
		z-index 2

	.bios-content 
		position relative
		margin-left auto
		max-width 600px
		min-width 350px
		box-sizing content-box
		width 65%
		order 2
		
	.copy h5
		display inline-block
		margin-top 75px
		opacity 1
		visibility visible
		
	#self-long
		display none

	#bios-wrapper
		min-width 500px
		width 75%
		
	#bios-more
		display block 
		


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen && Mobile */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#bios
		padding-top 64px

	.bios-title
		top calc(80vw)
		width 95%
		height 250px

	#bios-title p
		visibility hidden

	.bios-content 
		max-width 450px
		min-width 300px
		width 100%
		
	.bios-content img
		// clip-path inset(0 0 30% 0)
		filter opacity(50%)
		padding-bottom calc(35vw)
		// height 475px
		
	.copy
		margin-top 0
		
	.copy h5
		display inline-block
		margin-top 75px
		
	#self-long
		display none

	#bios-wrapper
		min-width 300px
		width 90% 
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#bios
		padding-top 64px
	
	.bios-title
		top calc(80vw)
		width 95%
		height 250px

	#bios-title p
		visibility hidden

	.bios-content 
		max-width 450px
		min-width 300px
		width 100%
		
	.bios-content img
		// clip-path inset(0 0 30% 0)
		filter opacity(50%)
		padding-bottom calc(35vw)
		// height 475px
		
	.copy
		margin-top 0	
		
	.copy h5
		display inline-block
		margin-top 75px
		
	#self-long
		display none

	#bios-wrapper
		min-width 300px
		width 90% 

		



	