/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'
@require 'endeavor.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetCase = 100px

// @extend .module-font

/* -------------------------------------- */
/* Elements */	

.case-study
	width 100%
	height 90vh
	min-height 750px
	display flex
	justify-content center
	top 0
	
	transition top 250ms ease-in-out
	

.case-study-window
	top $StickyOffsetCase
	position relative
	overflow hidden
	
	transition all 250ms ease-in-out
	
.case-study-open
	height 100vh
	overflow-y visible
	
	background-color $WHITE_BG
	z-index 100
	
 .case-study-sticky
	overflow-y 	
	
.case-study-resize
	position relative // On resize?


.case-study-page 
	width 100%
	height 100%
	position relative
	display block
	

.case-study-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		


/* -------------------------------------- */
/* Caption */


p.center-caption
	font-family Circular-Roman
	font-size 12px
	letter-spacing 0.25px
	margin-bottom 15px
	line-height 2em
	 
	margin-left auto
	margin-right auto
	display block
	width 35%
	margin-bottom 150px
	text-align center
	
	transition width ease-in-out 250ms


.caption 
	font-size 12px
	line-height 2em
	margin-top 25px
	width 300px
	text-align left
	position relative
	display inline-block
	text-align justify
	text-justify inter-word

	
/* -------------------------------------- */
/* Description Box */

.main-description 
	width 50%
	max-width 500px
	border-left 1px solid $GRAY
	position relative
	display block
	padding 0 0 30px 35px
	
	order 2
	
.main-description p 
	text-align left
	font-family Chronicle-Roman, serif
	font-size 18px
	line-height 2em
	letter-spacing 0
	
.main-description q 
	margin-top 0
	margin-bottom 0
	
.main-description h4
	margin-top 50px 
	

.description-wrapper
	align-self center
	display flex
	flex-direction column
	

.pull-left p 
	text-align center
	line-height 1.5em
	padding 0 75px 25px 75px


.pull-left h1 
	font-family Freight-Text-Italic


.pull-left 
	display inline-block
	width 40%
	float right
	position relative
	margin-right 45px
	padding-top 28px
	padding-bottom 30px


/* -------------------------------------- */
/* Image Box */


.image-box 
	width 50%
	padding-bottom 30%
	margin-bottom 50px
	display block
	float left
	clear both


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto
	

.image-box--center 
	clear none
	float none
	position relative
	margin-left auto
	margin-right auto
	

/*
 *	Media Queries
 */
 
 /*---------------------------------------------------------------*/
/* Breakpoint 1 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
// @media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	

// /* ----------- Retina Screens ----------- */
// @media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
 

/*---------------------------------------------------------------*/
/* Breakpoint 2 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	p.center-caption
		width 65%
				

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	p.center-caption
		width 65%
		


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Small Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.main-description
		padding 0
		width 100%
		border-left none
		
	.image-box
		width 100%
		padding-bottom 70%
	
	.para-box.parallax__group blockquote
		display none
		
	.case-study
		min-height 400px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
	.main-description
		padding 0
		width 100%
		border-left none
		
	.image-box
		width 100%
		padding-bottom 70%
		
	.para-box.parallax__group blockquote
		display none
		
	.case-study
		min-height 400px
		
		
/*---------------------------------------------------------------*/
/* Breakpoint 3 | Tiny Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)				
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)					
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0



// //---------------------------------------------------------------
// // Breakpoint 3 | Phablet // iPhone 6s
// @media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
// 	.case-study
// 		display none // No case studies on mobile
	

// 	.bios-title
// 		top 14%
// 		width 75%
// 		height 250px

// 	.bios-content 
// 		max-width 450px
// 		min-width 300px
// 		width 100%
		
// 	.bios-content img
// 		clip-path inset(0 0 30% 0)
// 		filter opacity(50%)
		
// 	.copy
// 		position relative
// 		left 0
// 		border-left none
// 		padding-left 0
// 		margin-top 25px
		
// 	.body-copy
// 		font-size 16px

// 	#bios-wrapper
// 		min-width 300px
// 		width 90% 





