/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'
@require 'endeavor.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetCase = 100px

// @extend .module-font

/* -------------------------------------- */
/* Elements */	

.case-study
	width 100%
	height 85vh
	min-height 750px
	display flex
	justify-content center
	top 0
	
	transition top 250ms ease-in-out
	

.case-study-preview
	height 85vh
	

.case-study-window
	position relative
	overflow hidden
	
	transition all 250ms ease-in-out
	
.case-study-open
	height 100vh
	overflow-y visible
	
	background-color $WHITE_BG
	z-index 100
	
 .case-study-sticky
	overflow-y 	
	
.case-study-resize
	position relative // On resize?


.case-study-page 
	width 100%
	height 100%
	position relative
	display block
	

.case-study-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		


/* -------------------------------------- */
/* Image Box */


.image-box 
	width 50%
	padding-bottom 30%
	margin-bottom 50px
	display block
	float left
	clear both


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto
	

/*
 *	Media Queries
 */
 
 /*---------------------------------------------------------------*/
/* Breakpoint 1 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
// @media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	

// /* ----------- Retina Screens ----------- */
// @media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
 

/*---------------------------------------------------------------*/
/* Breakpoint 2 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.case-study
		height 75vh
		
	.case-study-preview
		height 75vh
		
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	p.center-caption
		width 65%
				

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.case-study
		height 75vh
		
	.case-study-preview
		height 75vh
		
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	p.center-caption
		width 65%
		


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Small Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)				
	.image-box
		width 100%
		padding-bottom 70%
	
	.para-box.parallax__group blockquote
		display none
		
	.case-study
		min-height 400px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)			
	.image-box
		width 100%
		padding-bottom 70%
		
	.para-box.parallax__group blockquote
		display none
		
	.case-study
		min-height 400px
		
		
/*---------------------------------------------------------------*/
/* Breakpoint 3 | Tiny Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)				
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)					
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0



// //---------------------------------------------------------------
// // Breakpoint 3 | Phablet // iPhone 6s
// @media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
// 	.case-study
// 		display none // No case studies on mobile
	

// 	.bios-title
// 		top 14%
// 		width 75%
// 		height 250px

// 	.bios-content 
// 		max-width 450px
// 		min-width 300px
// 		width 100%
		
// 	.bios-content img
// 		clip-path inset(0 0 30% 0)
// 		filter opacity(50%)
		
// 	.copy
// 		position relative
// 		left 0
// 		border-left none
// 		padding-left 0
// 		margin-top 25px
		
// 	.body-copy
// 		font-size 16px

// 	#bios-wrapper
// 		min-width 300px
// 		width 90% 





