/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'
@require 'endeavor.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetCase = 100px

// @extend .module-font

/* -------------------------------------- */
/* Elements */	

.case-study
	width 100%
	height 90vh
	min-height 750px
	display flex
	justify-content center
	top 0
	
	transition top 250ms ease-in-out
	

.case-study-overview 
	width 100%
	height 70vh
	min-height 600px
	position absolute
	left 0
	z-index 1
	display flex
	flex-direction column
	box-shadow 0 5px 3px rgba(0, 0, 0, 0)
	
	transition all 250ms
	

.case-study-window
	top $StickyOffsetCase
	position relative
	overflow hidden
	
	transition all 250ms ease-in-out
	
.case-study-open
	height 100vh
	overflow-y visible
	
	background-color $WHITE_BG
	z-index 100
	
 .case-study-sticky
	overflow-y 	
	
.case-study-resize
	position relative // On resize?


.case-study-overview:hover 
	/*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18)*/
	cursor pointer


.case-study-overview:hover .overlay 
	background-color rgba(255,255,255,0.15)


.case-study-overview:hover .hero 
	transform scale(1.03)


.case-study-overview:hover .description 
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)


.case-study-page 
	width 100%
	height 100%
	position relative
	display block
	

.case-study-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
	

/* -------------------------------------- */
/* Parallax Box */
	

.para-box 
	/*height 880px*/


.parabox .image-box:last-of-type 
	margin-bottom 125px


.para-box blockquote 
	position absolute
	width 40%
	margin-left 50px
	margin-top 14.5%


.para-box blockquote.left 
	text-align left
	left 45%


.para-box blockquote.right 
	text-align right
	left 5%
	

/* -------------------------------------- */
/* Caption */


p.center-caption
	font-family Circular-Roman
	font-size 12px
	letter-spacing 0.25px
	margin-bottom 15px
	line-height 2em
	 
	margin-left auto
	margin-right auto
	display block
	width 35%
	margin-bottom 150px
	text-align center
	
	transition width ease-in-out 250ms


.caption 
	font-size 12px
	line-height 2em
	margin-top 25px
	width 300px
	text-align left
	position relative
	display inline-block
	text-align justify
	text-justify inter-word

	
/* -------------------------------------- */
/* Description Box */

.main-description 
	width 50%
	max-width 500px
	border-left 1px solid $GRAY
	position relative
	display block
	padding 0 0 30px 35px
	
	order 2
	
.main-description p 
	text-align left
	font-family Chronicle-Roman, serif
	font-size 18px
	line-height 2em
	letter-spacing 0
	
.main-description q 
	margin-top 0
	margin-bottom 0
	
.main-description h4
	margin-top 50px 
	

.description 
	width 300px
	height 300px
	min-width 300px
	min-height 300px	
	padding 50px 50px 30px 50px
	margin-left 7.5%
	position absolute
	bottom -15%
	order inherit
	z-index 2
	
	background-color $WHITE_BG
	
	border-radius 50px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	display flex
	flex-direction column
	justify-content center
	
	transition all 250ms


.description h3 
	margin-bottom 10px
	text-align center


.description h2 
	margin-bottom 7.5px
	text-align center
	color $BLACK_Q
	
.description hr
	width 25px	
	height 4px
	border none
	background-color $GRAY


.description p
	font-family Chronicle-Italic
	margin-top 40px
	text-align center
	align-self flex-end


.description .social 
	width 75%
	bottom 30px
	position absolute
	border-top 1.25px dotted black
	padding  25px 0 0 0
	

.description-wrapper
	align-self center
	display flex
	flex-direction column
	

.pull-left p 
	text-align center
	line-height 1.5em
	padding 0 75px 25px 75px


.pull-left h1 
	font-family Freight-Text-Italic


.pull-left 
	display inline-block
	width 40%
	float right
	position relative
	margin-right 45px
	padding-top 28px
	padding-bottom 30px


/* -------------------------------------- */
/* Image Box */


.image-box 
	width 50%
	padding-bottom 30%
	margin-bottom 50px
	display block
	float left
	clear both


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto


.image-box.right 
	float right


.image-left 
	width 100%
	height 100%


.image-box--bottom 
	margin-bottom 150px


.image-box--center 
	clear none
	float none
	position relative
	margin-left auto
	margin-right auto
	

.image-left p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 50%
	margin-left 50px
	margin-top 0


.image-right p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 20%
	margin-left 50px
	margin-top 0
	

.img-box 
	position relative
	float right
	width 30vw
	height 40vw
	margin-right 200px
	background-color red
	bottom -250px
	

/* -------------------------------------- */
/* Image Grid */
	

.image-grid-overlay 
	width 100%
	height 100%
	position absolute
	z-index 100
	display none


.grid-slider 
	width 10%
	height auto
	margin-bottom 50px
	position relative
	margin-left auto
	margin-right auto
	display none
	transition all ease-in-out 500ms
	transform translateZ(0)


.active-grid-slider 
	width 100%
	transform scale(0.85)
	margin-bottom 0


.image-grid-wrapper 
	clear both
	position relative
	display block
	text-align center
	margin-top 150px
	margin-bottom 150px


.image-grid-container
	border-radius 20% 
	position relative
	display inline-block
	width  12%
	margin 2%
	box-shadow 0 0px 10px rgba(0, 0, 0, 0) 
	transition all ease-in-out 250ms


.slider-transition 
	margin-bottom -55%
	top -275px
	transform scale(0.15)
	z-index 0
	opacity 0
	

.bounce 
	transition all ease-in-out 250ms


.bounce:hover 
	box-shadow 0 15px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-15px)


.bounce-sm 
	transition all ease-in-out 250ms


.bounce-sm:hover 
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-5px)


.active-grid::after 
	content ""
	position absolute
	margin-top 10px
	border-bottom 3px solid $GRAY
	width 35%
	margin-left -20%


.shrink-grid 
	width  4%
	margin 10px


.image-cross 
	position absolute
	display inline-block
	width  50px
	height 50px
	top 36%
	left 36%
	border-radius 100%
	border 1px solid black
	opacity 0
	transition all ease-in-out 250ms


.image-grid 
	width 100%
	border-radius 20%
	padding-bottom 100%
	background-color green
	background-position center
	background-repeat no-repeat
	background-size cover
	transition all ease-in-out 250ms
	

/* -------------------------------------- */
/* Moments */


.big-moment-0-color 
	padding-top 50%
	margin-top 150px
	margin-bottom 150px
	background-color Beige
	bottom 0
	width 100%
	background-size 100% auto
	

.big-moment-1 h1 
	padding-top 15%


.big-moment-1:hover .center 
	opacity 1


.big-moment-1 
	display block
	width 102vw
	left calc((102vw - 1275px) / -2) // 1200~ Max contents relative width
	height 70vh
	position relative
	text-align center
	border-top 130vh
	margin-top -130vh
	border-bottom 100vh
	margin-bottom -100vh
	border-style solid
	border-color $WHITE_BG
	z-index -1
	transition-timing-function linear
	transition all 0.5s


.big-moment-1:hover img 
	margin-top 90px


.big-moment-1-color 
	background-repeat no-repeat
	background-attachment scroll
	background-size cover
	background-position left
	background-color Beige
	position absolute
	left 0
	right 0
	top 0
	height 125%
	margin-top -225px
	

.big-moment-2 
	margin-top 150px
	margin-bottom 30%
	display block
	width 100%
	clear both
	/*background-color red*/
	position relative
	text-align center


.big-moment-2 .img-box 
	position relative
	margin-right 15%
	max-width 450px
	max-height 560px
	float right
	top -300px
	box-shadow 0 0 100px rgba(0,0,0,.18)


.big-moment-2-color 
	padding-top 50%
	background-color Beige
	bottom 0
	width 100%
	background-size 100% auto


.big-moment-2 p.caption 
	font-family Circular-Roman
	font-size 12px
	letter-spacing 0.25px
	margin-bottom 15px
	line-height 2em
	margin-top 25px
	left 10%
	width 20vw
	min-width 225px
	max-width 350px
	bottom -25%
	text-align left
	position absolute
	display inline-block
	text-align justify
	text-justify inter-word
	background-color $WHITE_BG
	padding 3.5vw
	box-shadow 0 -10px 15px rgba(0, 0, 0, 0.18) 


.big-moment-3 
	margin-top 100px
	padding-bottom 250px
	display block
	width 100%
	clear both
	position relative
	text-align center


.big-moment-3-color 
	height 100%
	bottom 0
	width 100%
	background-size 100% auto
	
.big-moment-3 ul.slick-dots
	position initial
	

/*
 *	Media Queries
 */
 
 /*---------------------------------------------------------------*/
/* Breakpoint 1 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.big-moment-1	
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
	.big-moment-1	
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width
 

/*---------------------------------------------------------------*/
/* Breakpoint 2 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	.case-study-overview 
		height 60vh
		
	.big-moment-2 .img-box
		top -250px
		
	p.center-caption
		width 65%
		
	.case-study
		min-height 850px
		
	.big-moment-1 
		height 80vh
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 30%
		
	.case-study-overview 
		height 60vh
		
	.big-moment-2 .img-box
		top -250px
		
	p.center-caption
		width 65%
		
	.case-study
		min-height 850px
		
	.big-moment-1 
		height 80vh	


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Small Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.main-description
		padding 0
		width 100%
		border-left none
		
	.image-box
		width 100%
		padding-bottom 70%
	
	.para-box.parallax__group blockquote
		display none
		
	.big-moment-2.parallax__group .img-box
		display none
		
	.big-moment-2.parallax__group .caption
		display none
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
	.main-description
		padding 0
		width 100%
		border-left none
		
	.image-box
		width 100%
		padding-bottom 70%
		
	.para-box.parallax__group blockquote
		display none
		
	.big-moment-2.parallax__group .img-box
		display none
		
	.big-moment-2.parallax__group .caption
		display none
		
/*---------------------------------------------------------------*/
/* Breakpoint 3 | Tiny Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.description	
		padding 25px 25px 15px
		
	.description p 
		margin-top 15px
		align-self center
		
	.big-moment-0-color
		margin-top 100px
		margin-bottom 50px
		
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.big-moment-2
		margin-top 75px
		margin-bottom 75px
		
	.big-moment-3
		margin-top 50px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
	.description	
		padding 25px 25px 15px
		
	.description p 
		margin-top 15px
		align-self center
		
	.big-moment-0-color
		margin-top 100px
		margin-bottom 50px
		
	.image-box--bottom
		margin-bottom 75px
		
	.image-grid-wrapper
		margin-top 75px
		margin-bottom 75px
		
	.big-moment-2
		margin-top 75px
		margin-bottom 75px
		
	.big-moment-3
		margin-top 50px
		
	.para-box .caption
		display inline
		
	.video-frame
		margin 0



// //---------------------------------------------------------------
// // Breakpoint 3 | Phablet // iPhone 6s
// @media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
// 	.case-study
// 		display none // No case studies on mobile
	

// 	.bios-title
// 		top 14%
// 		width 75%
// 		height 250px

// 	.bios-content 
// 		max-width 450px
// 		min-width 300px
// 		width 100%
		
// 	.bios-content img
// 		clip-path inset(0 0 30% 0)
// 		filter opacity(50%)
		
// 	.copy
// 		position relative
// 		left 0
// 		border-left none
// 		padding-left 0
// 		margin-top 25px
		
// 	.body-copy
// 		font-size 16px

// 	#bios-wrapper
// 		min-width 300px
// 		width 90% 





