/*

contact section

*/

@require 'color.styl'
@require 'type.styl'


/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

/* -------------------------------------- */
/* Elements */

#contact 
	width 100%
	padding-top 125px
	background-color $BLACK_BG
	

#contact-wrapper
	max-width 1200px
	min-width 500px
	width 75% 
	position relative
	margin-left auto
	margin-right auto
	text-align center
	display flex
	flex-flow row wrap
	align-items stretch
	

.contact h1
	color $GRAY


.contact p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px
	
	text-align left
	line-height 1.75em
	letter-spacing 0
	
	color $GRAY
	
	
.contact .shout-out,
.contact .cta,
.contact .copywrite
	max-height 225px
	max-height 225px
	display flex
	flex-direction column
	justify-content flex-start
	box-sizing content-box
	align-items baseline
	flex 1 100%
		

.contact .shout-out
	max-width 450px
	margin-right 75px
	flex 2 0px
	order 1
	

.contact .cta
	flex 1 0px
	order 2
	

.contact h1
	font-size 42px
	margin-bottom 15px
	align-self auto
	flex-grow 1
	

.contact .cta p 
	bottom 0
	

.contact .copywrite
	border-top 1px solid $WHITE_BG
	padding-top 5px
	margin-bottom 50px
	margin-top 50px
	margin-right 0
	width 100%
	// max-width 750px --> Resolve
	align-self flex-end
	order 3
	

.contact .copywrite p 
	font-size 12px
	

.contact li
	width 50px
	height 50px
	margin 25px

	line-height 150px
	color $WHITE
	font-weight bold
	font-size 3em
	text-align center
	transition all 250ms ease-in-out
	
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	

.contact img 
	width 0


.contact button:hover 
	cursor pointer
	background-color #404040
	border-color #404040
	

.contact img
	clip-path none
	

// --------------------------------------
//  Social buttons

.contact .contact-social 
	color $WHITE_BG
	position absolute
	top 75px
	text-align left
	word-spacing 15px	


.contact .contact-social i
	margin-left 15px
	padding 5px
	

.contact .contact-social a:first-child i
	margin-left 0
	

// --------------------------------------
// Links

.contact a
	color $WHITE_BG
	text-decoration none
	border-bottom none
	transition border-bottom 100ms ease-in-out


.contact a:hover
	cursor pointer
	

.contact a // Open social links in new tabs
	target-name _new
	target-new _tab




/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Small Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#contact
		padding-top 75px
		
	.contact .shout-out
		margin-right 25px
		
	.contact h1
		font-size 36px
		
	.contact p 
		max-width 350px
		
	.contact .contact-social
		top 60px
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#contact
		padding-top 75px
		
	.contact .shout-out
		margin-right 25px
		
	.contact h1
		font-size 36px
		
	.contact p 
		max-width 350px
		
	.contact .contact-social
		top 60px
		


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.contact .shout-out
		margin-right 45px
		max-width 375px
		flex 1 0px
		
	.contact .shout-out,
	.contact .cta
		max-height 400px
		
	.contact .contact-social
		position relative
		top inherit
		margin-bottom 15px
		
	.contact h1
		margin-bottom 15px
		align-self stretch
		flex-grow 0
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.contact .shout-out
		margin-right 45px
		max-width 375px
		flex 1 0px
		
	.contact .shout-out,
	.contact .cta
		max-height 400px
		
	.contact .contact-social
		position relative
		top inherit
		margin-bottom 15px
		
	.contact h1
		margin-bottom 15px
		align-self stretch
		flex-grow 0
	


/*---------------------------------------------------------------*/
/* Breakpoint 3 | Tiny Screen && Mobile */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#contact-wrapper
		min-width 300px
		width 80% 
		flex-flow column
		
	.contact .shout-out
		display block
		position relative
		max-width 300px
		max-height none
		margin-bottom 20px
		margin-right 0
		
		flex-grow 0
		
	.contact .cta
		min-height 200px // Experimentally Determined
		flex-grow 0
		
	.contact .cta h1
		margin-bottom 15px
		padding-bottom 20px
		border-bottom 1px solid $GRAY
		
	.contact h1
		color $GRAY
		max-height none
		font-size 42px
		margin-bottom 20px
		
	.contact .copywrite
		position relative
		bottom initial
		margin-top 15px
		margin-bottom 50px
		margin-right auto
		width 100%
		height 100px
		
		flex-grow 0
		align-self flex-end
		
	.contact .contact-social
		align-self flex-end
		order 3
		padding-top 10px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 550px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#contact-wrapper
		min-width 300px
		width 80% 
		flex-flow column
		
	.contact .shout-out
		display block
		position relative
		max-width 300px
		max-height none
		margin-bottom 20px
		margin-right 0
		
		flex-grow 0
		
	.contact .cta
		min-height 200px // Experimentally Determined
		flex-grow 0
		
	.contact .cta h1
		margin-bottom 15px
		padding-bottom 20px
		border-bottom 1px solid $GRAY
		
	.contact h1
		color $GRAY
		max-height none
		font-size 42px
		margin-bottom 20px
		
	.contact .copywrite
		position relative
		bottom initial
		margin-top 15px
		margin-bottom 50px
		margin-right auto
		width 100%
		height 100px
		
		flex-grow 0
		align-self flex-end
		
	.contact .contact-social
		align-self flex-end
		order 3
		padding-top 10px
		


//---------------------------------------------------------------
// Breakpoint 4 | Medium Mobile // iPhone 5s, 5, 4
@media only screen and (max-device-width: 320px)
	#contact
		padding-top 50px
		
	#contact-wrapper
		min-width 290px
		
























		
		




	