/*

Endeavor Sections

*/

@require 'color.styl'
@require 'type.styl'

/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetMeta = 20vh


/* -------------------------------------- */
/* Elements */

.endeavor-container
	display none
	background-color $WHITE_BG
	overflow-x hidden
	overflow-y hidden
	opacity 0
	height 102%
	width 100%
	position relative
    
	transition all 500ms
	
.flex-row
	display flex
	flex-direction row
	

.visible
	opacity 1
	

.hidden
	display none
	
	
.endeavor
	min-width 102%
	height 100vh
	min-height 750px
	position relative
	overflow-x hidden
	overflow-y visible
	margin-right 5vw
	display flex
	justify-content center
	

.endeavor-overview 
	width 100%
	height 70vh
	min-height 600px
	position absolute
	left 0
	z-index 1
	display flex
	flex-direction column
box-shadow 0 5px 3px rgba(0, 0, 0, 0)
	transition all 250ms	


.endeavor-page 
	width 100%
	height 100%
	position relative
	display block
	

.endeavor-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		

.endeavor-contents 
	width 85%
	max-width 1275px // In accordance with big-moment-1 85vw sizing
	// min-width 500px
	position relative
	margin-left auto
	margin-right auto
	margin-top 85vh
	
	transition margin-top 250ms ease-in-out


.endeavor-contents h1 
	text-align center
	padding 30px
	

.endeavor-intro 
	display flex
	flex-direction row
	justify-content flex-end
	
	width 100%
	position relative
	padding-bottom 100px
	padding-top 50px
	
	transition-timing-function ease-in-out
	transition margin-top 1000ms
	

.hero-box 
	overflow hidden
	width 100%
	height 100%
	transition-timing-function ease-in-out
	transition margin-top 1s
	
.hero-parallax
	width 102vw
	

.video-settings
	width 100%
	height calc(100% / 1.778) // Standard 16:9 Video


.end-pad
	display block
	width 100%

.end-pad-500
	height 500px
		

.end-pad-250
	height 250px
	

.end-pad-100
	height 100px
	

.end-pad-25
	height 25px
	

/* -------------------------------------- */
/* Hero Box */
	

.hero-box-entry 
	margin-top 100px


.hero 
	overflow hidden
	width 100%
	height 100%
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	transition-timing-function ease-in-out
	transition all 1s
	

/* -------------------------------------- */
/* Description Box */
	

.endeavor .description 
	width 300px
	height 300px
	min-width 300px
	min-height 300px	
	padding 50px 50px 30px 50px
	margin-left 7.5%
	position absolute
	bottom -15%
	order inherit
	z-index 2
	
	background-color $WHITE_BG
	
	border-radius 50px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	display flex
	flex-direction column
	justify-content center
	
	transition all 250ms


.endeavor .description h3 
	margin-bottom 10px
	text-align center


.endeavor .description h2 
	margin-bottom 7.5px
	text-align center
	
.endeavor .description hr
	width 25px	
	height 4px
	border none
	color $BLACK
	background-color $BLACK


.endeavor .description p
	font-family Chronicle-Semitalic 
	margin-top 40px
	text-align center
	align-self flex-end


.endeavor .description .social 
	width 75%
	bottom 30px
	position absolute
	border-top 1.25px dotted black
	padding  25px 0 0 0
	

.description-wrapper
	align-self center
	

// endeavor (non case-study)
.endeavor-overview .description
	margin-left 15%
	


/* -------------------------------------- */
/* Meta Data */
	

.meta-data 
	top $StickyOffsetMeta
	height 500px
	
	display flex
	flex-direction column
	order 1

	border-left 1px solid $GRAY
	padding 20px 75px 0 35px
	
.meta-data line 
	color $BLACK_Q


.meta-data ul li:nth-child(odd) 
	font-family Circular-Roman
	font-size 8px
	text-transform uppercase
	line-height 3em
	letter-spacing 1px
	text-align left
	color $GREY


.meta-data ul li:nth-child(even) 
	font-family Circular-Roman
	font-size 12px
	letter-spacing .25px
	margin-bottom 15px
	


/* -------------------------------------- */
/* Image Box */


.endeavor-image-box 
	width 50%
	padding-bottom 30%
	display block
	float left
	clear both


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto


.endeavor-image-box.right 
	float right


.image-left 
	width 100%
	height 100%


.endeavor-image-box--bottom 
	margin-bottom 150px


.endeavor-image-box--center 
	clear none
	float none
	position relative
	margin-left auto
	margin-right auto
	

.image-left p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 50%
	margin-left 50px
	margin-top 0


.image-right p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 20%
	margin-left 50px
	margin-top 0
	

.img-box 
	position relative
	width 30vw
	height 40vw
	margin-right 200px
	background-color red
	bottom -250px
	

/* -------------------------------------- */
/* Image Grid */
	

.image-grid-overlay 
	width 100%
	height 100%
	position absolute
	z-index 100
	display none


.grid-slider 
	width 10%
	height auto
	margin-bottom 50px
	position relative
	margin-left auto
	margin-right auto
	display none
	transition all ease-in-out 500ms
	transform translateZ(0)


.active-grid-slider 
	width 100%
	transform scale(0.85)
	margin-bottom 0


.image-grid-wrapper 
	clear both
	position relative
	display block
	text-align center


.image-grid-container
	border-radius 20% 
	position relative
	display inline-block
	width  12%
	margin 2%
	box-shadow 0 0px 10px rgba(0, 0, 0, 0) 
	transition all ease-in-out 250ms


.slider-transition 
	margin-bottom -55%
	top -275px
	transform scale(0.15)
	z-index 0
	opacity 0
	

.bounce 
	transition all ease-in-out 250ms


.bounce:hover 
	box-shadow 0 15px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-15px)


.bounce-sm 
	transition all ease-in-out 250ms


.bounce-sm:hover 
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-5px)


.active-grid::after 
	content ""
	position absolute
	margin-top 10px
	border-bottom 3px solid $GRAY
	width 35%
	margin-left -20%


.shrink-grid 
	width  4%
	margin 10px


.image-cross 
	position absolute
	display inline-block
	width  50px
	height 50px
	top 36%
	left 36%
	border-radius 100%
	border 1px solid black
	opacity 0
	transition all ease-in-out 250ms


.image-grid 
	width 100%
	border-radius 20%
	padding-bottom 100%
	background-color green
	background-position center
	background-repeat no-repeat
	background-size cover
	transition all ease-in-out 250ms
	


/* -------------------------------------- */
/* Parallax Box */
	
.endeavor-para-box blockquote 
	position absolute
	width 40%
	margin-left 50px
	margin-top 14.5%


.endeavor-para-box blockquote.left 
	text-align left
	left 45%


.endeavor-para-box blockquote.right 
	text-align right
	left 5%
	


/* -------------------------------------- */
/* Moments */

.endeavor-item-big
	margin-top 125px
	margin-bottom 125px
	

.endeavor-item-top-big
	margin-top 125px


.endeavor-item-bottom-big
	margin-bottom 125px


.endeavor-item
	margin-top 75px
	margin-bottom 75px
	

.endeavor-item-top
	margin-top 75px
	

.endeavor-item-bottom
	margin-bottom 75px
	

.endeavor-item-small
	margin-top 50px
	margin-bottom 50px
	

.endeavor-item-top-small
	margin-top 50px
	

.endeavor-item-bottom-small
	margin-bottom 50px
	
	
.fsw // fullscreen width
	width 100%
	

.endeavor-parallax-behind-fs:hover .center 
	opacity 1


.endeavor-parallax-behind-fs
	display block
	width 102vw
	left calc((102vw - 1275px) / -2) // 1200~ Max contents relative width
	height 70vh
	position relative
	text-align center
	border-top 130vh
	margin-top -130vh
	border-bottom 100vh
	margin-bottom -100vh
	border-style solid
	border-color $WHITE_BG
	z-index -1
	transition-timing-function linear
	transition all 0.5s


.endeavor-parallax-behind-support 
	background-repeat no-repeat
	background-attachment scroll
	background-size cover
	background-position left
	position absolute
	left -20%
	right -20%
	top 0
	height 125%
	margin-top -225px
	

.endeavor-parallax-hybrid 
	margin-bottom 30%
	display block
	width 100%
	clear both
	/*background-color red*/
	position relative
	text-align center


.endeavor-parallax-hybrid .img-box 
	position relative
	margin-right 15%
	max-width 450px
	max-height 560px
	// float right
	top -300px
	box-shadow 0 0 50px rgba(0,0,0,.18)


.endeavor-parallax-hybrid-color 
	padding-top 50%
	background-color Beige
	bottom 0
	background-size 100% auto


.endeavor-parallax-hybrid p.caption 
	font-family Circular-Roman
	font-size 12px
	letter-spacing 0.25px
	margin-bottom 15px
	line-height 2em
	margin-top 25px
	// left 10%
	width 20vw
	min-width 225px
	max-width 350px
	bottom -25%
	text-align left
	position absolute
	display inline-block
	text-align justify
	text-justify inter-word
	background-color $WHITE_BG
	padding 3.5vw
	box-shadow 0 -10px 15px rgba(0, 0, 0, 0.18) 
	

.endeavor-parallax-hybrid-left-caption
	left 10%
	

.endeavor-parallax-hybrid-left-img-box
	float right
	

.endeavor-parallax-hybrid-right-caption
	right 10%
	

.endeavor-parallax-hybrid-right-img-box
	float left
	left 15%


.endeavor-image-slider 
	padding-bottom 250px
	display block
	width 100%
	clear both
	position relative
	text-align center


.endeavor-image-slider-color
	height 100%
	bottom 0
	background-size 100% auto
	
.endeavor-image-slider ul.slick-dots
	position initial
	

/*
 *	Media Queries
 */
 

  /*---------------------------------------------------------------*/
/* Breakpoint 0 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-parallax-behind-fs
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-parallax-behind-fs
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width	
		

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.endeavor .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.endeavor-contents
		margin-top 60vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	// endeavor (non case-study)
	.endeavor-overview .description
		margin-left auto
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -250px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.endeavor-contents
		margin-top 60vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	// endeavor (non case-study)
	.endeavor-overview .description
		margin-left auto
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -250px
	


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		


/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 96dpi)
	.meta-data ul
		width 50%
		
	.endeavor-item-big
		margin-top 100px 
		margin-bottom 100px
		
	.endeavor-item-bottom-big
		margin-bottom 100px

	.endeavor-item-top-big
		margin-top 100px
		
	.endeavor-item
		margin-top 50px
		margin-bottom 25px
		
	.endeavor-item-small
		margin-top 35px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-small
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 25px
		
	.endeavor-item-bottom-small
		margin-bottom 25px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 75px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.meta-data ul
		width 50%
		
	.endeavor-item-big
		margin-top 100px
		margin-bottom 100px
		
	.endeavor-item-bottom-big
		margin-bottom 100px

	.endeavor-item-top-big
		margin-top 100px
		
	.endeavor-item
		margin-top 50px
		margin-bottom 25px
		
	.endeavor-item-small
		margin-top 35px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-small
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 25px
		
	.endeavor-item-bottom-small
		margin-bottom 25px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 75px
		


//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
	// .endeavor
	// 	// display none // No case studies on mobile
		


