/*

Endeavor Sections

*/

@require 'color.styl'
@require 'type.styl'

/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetMeta = 20vh


/* -------------------------------------- */
/* Elements */

.endeavor-side-label
	width 100px
	height 300px
	border-right 1px solid $BLACK_TEXT
	
.endeavor-vertical-rule
	width 2px
	height 100%
	background-color $BLACK

.endeavor-container
	display none
	background-color $WHITE_BG
	overflow-x hidden
	overflow-y hidden
	opacity 0
	height 102%
	width 100%
	position relative
    
	transition all 500ms
	
.flex-row
	display flex
	flex-direction row
	

.visible
	opacity 1
	

.hidden
	display none
	
	
.endeavor
	min-width 102%
	height 100vh
	min-height 750px
	position relative
	overflow-x hidden
	overflow-y visible
	margin-right 5vw
	display flex
	justify-content center
	

.endeavor-overview 
	width 100%
	height 70vh
	min-height 600px
	position absolute
	left 0
	z-index 1
	display flex
	flex-direction column
	box-shadow 0 5px 3px rgba(0, 0, 0, 0)
	
	transition all 250ms	
	

.endeavor-overview-preview:hover 
	/*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18)*/
	cursor pointer


.endeavor-overview-preview:hover .hero 
	transform scale(1.03)


.endeavor-overview-preview:hover .description 
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
	

.endeavor-border-top
	border-top 1px solid $GRAY
	padding-top 12px


.endeavor-page 
	width 100%
	height 100%
	position relative
	display block
	

.endeavor-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		

.endeavor-inline
	display inline-block
		

.endeavor-contents 
	width 85%
	max-width 1275px // In accordance with big-moment-1 85vw sizing
	// min-width 500px
	position relative
	margin-left auto
	margin-right auto
	margin-top 85vh
	
	transition margin-top 250ms ease-in-out


.endeavor-contents h1 
	text-align center
	padding 15px
	

.endeavor-intro 
	display flex
	flex-direction row
	justify-content flex-end
	
	width 100%
	position relative
	padding-bottom 100px
	padding-top 50px
	
	transition-timing-function ease-in-out
	transition margin-top 1000ms
	

.hero-box 
	overflow hidden
	width 100%
	height 100%
	transition-timing-function ease-in-out
	transition margin-top 1s
	
.hero-parallax
	width 102vw
	

.video-settings
	width 100%
	height calc(100% / 1.778) // Standard 16:9 Video


.end-pad
	display block
	width 100%

.end-pad-500
	height 500px
		

.end-pad-250
	height 250px
	

.end-pad-100
	height 100px
	

.end-pad-50
	height 50px
	

.end-pad-25
	height 25px
	

/* -------------------------------------- */
/* Hero Box */
	

.hero-box-entry 
	margin-top 100px


.hero 
	overflow hidden
	width 100%
	height 100%
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	transition-timing-function ease-in-out
	transition all 1s
	

/* -------------------------------------- */
/* Description Box */
	

.endeavor-overview .description 
	width 300px
	height 300px
	min-width 300px
	min-height 300px	
	padding 50px 50px 30px 50px
	margin-left 7.5%
	position absolute
	bottom -15%
	order inherit
	z-index 20
	
	background-color $WHITE_BG
	
	border-radius 50px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	display flex
	flex-direction column
	justify-content center
	
	transition all 250ms


.endeavor-overview .description h3 
	margin-bottom 10px
	text-align center


.endeavor-overview .description h2 
	margin-bottom 7.5px
	text-align center
	
.endeavor-overview .description hr
	width 15px	
	height 1px
	border none
	color $BLACK
	background-color $BLACK


.endeavor-overview .description p
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px
	
	margin-top 40px
	text-align center
	
	align-self flex-end


.endeavor-overview .description .social 
	width 75%
	bottom 30px
	position absolute
	border-top 1.25px dotted black
	padding  25px 0 0 0
	

.description-wrapper
	align-self center
	

// endeavor (non case-study)
.endeavor-overview .description
	margin-left 15%
	


/* -------------------------------------- */
/* Moments */

.endeavor-parallax-behind-fs:hover .center 
	opacity 1


.endeavor-parallax-behind-fs
	display block
	height 70vh
	position relative
	text-align center
	border-top 130vh
	margin-top -130vh
	border-bottom 100vh
	margin-bottom -100vh
	border-style solid
	border-color $WHITE_BG
	z-index -1
	transition-timing-function linear
	transition all 0.5s


.endeavor-parallax-behind-support 
	background-repeat no-repeat
	background-attachment scroll
	background-size cover
	background-position left
	position absolute
	left -20%
	right -20%
	top 0
	height 125%
	margin-top -225px
	

.endeavor-parallax-hybrid 
	display block
	width 100%
	clear both
	position relative
	text-align center


.endeavor-parallax-hybrid .img-box
	position relative
	margin-right 17.5%
	top -400px
	filter drop-shadow(0 0 25px rgba(0,0,0,0.35))
	// box-shadow 0 0 50px rgba(0,0,0,.18)


.endeavor-parallax-hybrid-color 
	padding-top 50%
	bottom 0
	background-size 100% auto


.endeavor-parallax-hybrid p.caption 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	
	letter-spacing 0.25px
	line-height 1.85em
	text-justify inter-word
	text-align left
	
	width 20vw
	min-width 225px
	max-width 350px
	
	margin-bottom 15px
	margin-top 25px
	padding 3.5vw
	
	position absolute
	display inline-block
	
	bottom -25%
	
	background-color $WHITE_BG
	
	box-shadow 0 -10px 15px rgba(0, 0, 0, 0.18) 
	

.endeavor-parallax-hybrid-left-caption
	left 10%
	

.endeavor-parallax-hybrid-left-img-box
	float right
	

.endeavor-parallax-hybrid-right-caption
	right 10%
	

.endeavor-parallax-hybrid-right-img-box
	float left
	left 15%


.endeavor-image-slider 
	display block
	width 100%
	clear both
	position relative
	text-align center


.endeavor-image-slider-color
	height 100%
	bottom 0
	background-size 100% auto
	
.endeavor-image-slider ul.slick-dots
	position initial
	


/* -------------------------------------- */
/* Meta Data */
	

.meta-data 
	top $StickyOffsetMeta
	height 500px
	
	display flex
	flex-direction column
	order 1

	border-left 1px solid $GRAY
	padding 20px 75px 0 35px
	
.meta-data line 
	color $BLACK_Q
	
.meta-data ul li
	font-family 'Source Sans Pro', sans-serif
	font-weight 400


.meta-data ul li:nth-child(odd) 
	font-size 8px
	text-transform uppercase
	line-height 3em
	letter-spacing 1px
	text-align left
	color $GREY


.meta-data ul li:nth-child(even) 
	font-size 12px
	letter-spacing .25px
	margin-bottom 15px
	


/* -------------------------------------- */
/* Caption */


p.center-caption	
	text-align center
	
	margin-bottom 150px
	margin-left auto
	margin-right auto
	
	display block
	
	width 50%
	
	transition width ease-in-out 250ms


.caption 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	
	text-justify inter-word
	line-height 1.85em
	text-align left
	
	margin-top 25px

	width 500px
	
	position relative
	display inline-block
	

.caption-mod
	width 100%
	min-width 200px
	max-width 350px
	


/* -------------------------------------- */
/* Image Box */


.endeavor-image-box 
	width 50%
	padding-bottom 30%
	display block
	float left
	clear both
	
	background-position center


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto


.endeavor-image-box.right 
	float right


.image-left 
	width 100%
	height 100%


.endeavor-image-box--bottom 
	margin-bottom 150px


.endeavor-image-box--center 
	clear none
	float none
	
	display block
	
	position relative
	margin-left auto
	margin-right auto
	

.image-left p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 50%
	margin-left 50px
	margin-top 0


.image-right p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 20%
	margin-left 50px
	margin-top 0
	

.img-box 
	position relative
	width 30vw
	max-width 400px
	


/* -------------------------------------- */
/* Z Index */

.endeavor-push-1
	z-index 1
	

/* -------------------------------------- */
/* Image Grid */
	

.image-grid-overlay 
	width 100%
	height 100%
	position absolute
	z-index 100
	display none


.grid-slider 
	width 10%
	height auto
	margin-bottom 50px
	position relative
	margin-left auto
	margin-right auto
	display none
	transition all ease-in-out 500ms
	transform translateZ(0)


.active-grid-slider 
	width 100%
	transform scale(0.85)
	margin-bottom 0


.image-grid-wrapper 
	clear both
	position relative
	display block
	text-align center


.image-grid-container
	border-radius 20% 
	position relative
	display inline-block
	width  12%
	margin 2%
	box-shadow 0 0px 10px rgba(0, 0, 0, 0) 
	transition all ease-in-out 250ms


.slider-transition 
	margin-bottom -55%
	top -275px
	transform scale(0.15)
	z-index 0
	opacity 0
	

.bounce 
	transition all ease-in-out 250ms


.bounce:hover 
	box-shadow 0 15px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-15px)


.bounce-sm 
	transition all ease-in-out 250ms


.bounce-sm:hover 
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-5px)


.active-grid::after 
	content ""
	position absolute
	margin-top 10px
	border-bottom 3px solid $GRAY
	width 35%
	margin-left -20%


.shrink-grid 
	width  4%
	margin 10px


.image-cross 
	position absolute
	display inline-block
	width  50px
	height 50px
	top 36%
	left 36%
	border-radius 100%
	border 1px solid black
	opacity 0
	transition all ease-in-out 250ms


.image-grid 
	width 100%
	border-radius 20%
	padding-bottom 100%
	background-color green
	background-position center
	background-repeat no-repeat
	background-size cover
	transition all ease-in-out 250ms
	


/* -------------------------------------- */
/* Parallax Box */
	
.endeavor-para-box blockquote 
	position absolute
	width 40%
	margin-left 50px
	margin-top 14.5%


.endeavor-para-box blockquote.left 
	text-align left
	left 45%


.endeavor-para-box blockquote.right 
	text-align right
	left 5%
	


/* -------------------------------------- */
/* Description Box */

.endeavor-description 
	width 50%
	max-width 500px
	border-left 1px solid $GRAY
	position relative
	display block
	padding 0 0 30px 35px
	
	order 2
	
.endeavor-description p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 18px
	
	line-height 1.85em
	letter-spacing 0
	text-align left
	
.endeavor-description q 
	margin-top 0
	margin-bottom 0
	
.endeavor-description h4
	margin-top 50px 
	

.description-wrapper
	align-self center
	display flex
	flex-direction column
	

.pull-left p 
	text-align center
	line-height 1.5em
	padding 0 75px 25px 75px


.pull-left h1 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400


.pull-left 
	display inline-block
	width 40%
	float right
	position relative
	margin-right 45px
	padding-top 28px
	padding-bottom 30px
	

.endeavor-description.no-border
	border none
	

/* -------------------------------------- */
/* Description Box Big */

.endeavor-description-big 
	width 75%
	max-width 1000px
	position relative
	display block
	padding 0 0 30px 35px
	
	order 2
	
.endeavor-description-big p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 36px
	
	text-align left
	line-height 1.75em
	letter-spacing 0
	
.endeavor-description-big q 
	margin-top 0
	margin-bottom 0
	
.endeavor-description-big h4
	margin-top 50px 
	


/* -------------------------------------- */
/* Margin Modifiers */

.endeavor-item
	box-sizing border-box
	margin-top 50px
	margin-bottom 50px
	

.endeavor-item-125
	margin-top 125px
	margin-bottom 125px
	

.endeavor-item-top-125
	margin-top 125px


.endeavor-item-bottom-125
	margin-bottom 125px
	

.endeavor-item-top
	margin-top 75px
	

.endeavor-item-bottom
	margin-bottom 75px
	

.endeavor-item-50
	margin-top 50px
	margin-bottom 50px
	

.endeavor-item-top-50
	margin-top 50px
	

.endeavor-item-bottom-50
	margin-bottom 50px
	

.endeavor-item-25
	margin-top 25px
	margin-bottom 25px
	

.endeavor-item-50-25
	margin 25px
	margin-top 50px
	

.endeavor-item-top-25
	margin-top 25px
	

.endeavor-item-bottom-25
	margin-bottom 25px
	

.endeavor-item-15
	margin-top 15px
	margin-bottom 15px
	

.endeavor-item-top-15
	margin-top 15px
	

.endeavor-item-bottom-15
	margin-bottom 15px
	
.endeavor-item-10
	margin-top 10px
	margin-bottom 10px
	

.endeavor-item-top-10
	margin-top 10px
	

.endeavor-item-bottom-10
	margin-bottom 10px
	

.endeavor-item-top-none
	margin-top 0
	

.endeavor-item-bottom-none
	margin-bottom 0
	

.endeavor-item-left-100
	margin-left 100px
	

.endeavor-item-all-25 
	margin 25px
	
.endeavor-item-no-margin
	margin 0
	


/* -------------------------------------- */
/* Background Modifiers */	

.endeavor-bg-center
	background-position center
	

.endeavor-bg
	background-size 100% auto
	background-repeat no-repeat
	

.endeavor-bg-200
	background-size 200% auto
	background-repeat no-repeat
	

.endeavor-bg-25
	background-position 25% 25%
	


/* -------------------------------------- */
/* Text Modifiers */	

.endeavor-text-center
	text-align center
	

.endeavor-text-left
	text-align left
	

.endeavor-text-right
	text-align right
	

.endeavor-caption-2
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 18px
	
	line-height 1.75em
	margin-top 25px
	max-width 650px
	

.endeavor-pull-quote
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 36px
	
	letter-spacing 0
	
	line-height 2em
	margin-top 25px
	max-width 850px

/* -------------------------------------- */
/* Flex Modifiers */	

.endeavor-flex
	display flex


.endeavor-flex-column
	display flex
	flex-direction column
	

.endeavor-flex-row
	display flex
	flex-direction row
	

.endeavor-flex-row-nowrap
	display flex
	flex-direction row
	flex-wrap none
	

.endeavor-flex-center
	justify-content center
	align-items center
	

.endeavor-flex-center-main
	align-items center
	

.endeavor-flex-between
	justify-content space-between
	

.endeavor-flex-around
	justify-content space-around
	

.endeavor-flex-end
	justify-content flex-end
	
.endeavor-flex-start
	justify-content flex-start
	

.endeavor-first
	order 0
	

.endeavor-second
	order 1
	

.endeavor-third
	order 2
	

.endeavor-flex-1
	flex-grow 1
	

.endeavor-flex-2
	flex-grow 2
	


/* -------------------------------------- */
/* Width Modifiers */	

.endeavor-width-35-prcnt
	width 35%
	

.endeavor-width-40-prcnt
	width 40%
	

.endeavor-width-60-prcnt
	width 60%
	

.endeavor-width-75-prcnt
	width 75%
	

.endeavor-width-50-prcnt
	width 50%
	

.endeavor-width-25-px
	width 25px
	

.endeavor-width-75-percent
	position relative
	margin-left 12.5%
	width 75%
	

.endeavor-width-norm
	width 85%
	max-width 1275px // In accordance with big-moment-1 85vw sizing
	position relative
	margin-left auto
	margin-right auto
	

.endeavor-width-100vw
	width 102vw
	left calc((102vw - 1275px) / -2) // 1200~ Max contents relative width
	

.endeavor-width-500px
	width 500px
	

.endeavor-width-300px
	width 300px
	

.endeavor-width-150px
	width 150px
	

.fsw // fullscreen width
	width 100%
	


/* -------------------------------------- */
/* Height Modifiers */

.limit-height-50vh
	max-height 50vh
	

.limit-width-50vw
	max-width 50vw
	

.endeavor-height-25vw
	height 25vw
	

.endeavor-height-200px
	height 200px
	

/* -------------------------------------- */
/* Form Modifiers */

.endeavor-square-width-25
	width 25vw
	height @width
	min-width 100px
	min-height 100px
	max-width 300px
	max-height 300px
	

.endeavor-square-250px
	width 250px
	height @width
	

.endeavor-square-125px
	width 125px
	height @width
	

.endeavor-square-75px
	width 75px
	height @width
	

.endeavor-square-60px
	width 60px
	height @width
	
	
.endeavor-circle 
	border-radius 100%
	

.endeavor-radius-50px
	border-radius 50px
	


/* -------------------------------------- */
/* Transform Modifiers */

.endeavor-rot-90-ccw
	transform rotate(-90deg)
	

.endeavor-rot-90-cw
	transform rotate(90deg)

	


/* -------------------------------------- */
/* Display Modifiers */

.endeavor-block
	display block
	

.endeavor-inline-block
	display inline-block
	

.endeavor-inline
	display inline


.endeavor-flex
	display flex
	

.endeavor-none
	display none
	


/* -------------------------------------- */
/* Padding Modifiers */

.endeavor-padding-left-50
	padding-left 50px
	

.endeavor-50
	padding 50px
	

.endeavor-vertical-50
	padding-top 50px
	padding-bottom 50px
	

.endeavor-horizontal-50
	padding-left 50px
	padding-right 50px
	

.endeavor-horizontal-10vw
	padding-left 10vw
	padding-right 10vw
	


/* -------------------------------------- */
/* Position Modifiers */

.endeavor-pos-abs
	position absolute

.endeavor-pos-rel
	position relative

.endeavor-float-right
	float right
	
.endeavor-float-left
	float left
	
.endeavor-center
	position relative
	margin-left auto
	margin-right auto	
	

.endeavor-left-100px
	left 100px
	

.endeavor-right-100px
	right 100px

/*
 *	Media Queries
 */
 

  /*---------------------------------------------------------------*/
/* Breakpoint 0 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-width-100vw
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-width-100vw
		left calc((100vw - 85vw) / -2) // 85~ Contents relative width	
		

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.endeavor-overview .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.endeavor-contents
		margin-top 60vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	.endeavor-overview 
		height 60vh
		min-height 400px
		
	// endeavor (non case-study)
	.endeavor-overview .description
		margin-left auto
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -300px
		
	.endeavor-para-box blockquote 
		display none
		
	.endeavor-image-box
		width 100%
		padding-bottom 60%
		
	.endeavor-item-125
		margin-top 75px 
		margin-bottom 75px
		
	.endeavor-item-bottom-125
		margin-bottom 75px

	.endeavor-item-top-125
		margin-top 75px
		
	.endeavor-item
		margin-top 35px
		margin-bottom 35px
		
	.endeavor-item-50
		margin-top 25px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-50
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 25px
		
	.endeavor-item-bottom-50
		margin-bottom 25px
		
	.endeavor-item-25
	margin-top 15px
	margin-bottom 15px
	
	.endeavor-item-top-25
		margin-top 15px		

	.endeavor-item-bottom-25
		margin-bottom 15px
		
	.endeavor-item-15
		margin-top 10px
		margin-bottom 10px
		
	.endeavor-item-top-15
		margin-top 10px
		
	.endeavor-item-bottom-15
		margin-bottom 10px

	.endeavor-item-10
		margin-top 5px
		margin-bottom 5px

	.endeavor-item-top-10
		margin-top 5px

	.endeavor-item-bottom-10
		margin-bottom 5px
		
	.endeavor-item-left-100
		margin-left 50px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 300px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-overview .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.endeavor-contents
		margin-top 60vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	.endeavor-overview 
		height 60vh
		400px
		
	// endeavor (non case-study)
	.endeavor-overview .description
		margin-left auto
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -300px
		
	.endeavor-para-box blockquote 
		display none
		
	.endeavor-image-box
		width 100%
		padding-bottom 60%
		
	.endeavor-item-125
		margin-top 75px 
		margin-bottom 75px
		
	.endeavor-item-bottom-125
		margin-bottom 75px

	.endeavor-item-top-125
		margin-top 75px
		
	.endeavor-item
		margin-top 35px
		margin-bottom 35px
		
	.endeavor-item-50
		margin-top 25px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-50
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 35px
		
	.endeavor-item-bottom-50
		margin-bottom 25px
		
	.endeavor-item-25
		margin-top 15px
		margin-bottom 15px
	
	.endeavor-item-top-25
		margin-top 15px	

	.endeavor-item-bottom-25
		margin-bottom 15px	

	.endeavor-item-15
		margin-top 10px
		margin-bottom 10px
		
	.endeavor-item-top-15
		margin-top 10px

	.endeavor-item-bottom-15
		margin-bottom 10px
		
	.endeavor-item-10
		margin-top 5px
		margin-bottom 5px

	.endeavor-item-top-10
		margin-top 5px

	.endeavor-item-bottom-10
		margin-bottom 5px
		
	.endeavor-item-left-100
		margin-left 50px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 300px
	


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.endeavor-description
		width 75%
		padding 0
		width 100%
		border-left none
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		margin-top 150px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		
	.endeavor-parallax-hybrid
		margin-bottom 75px
		
	.endeavor-overview .description
		width 200px
		height 250px
		min-width 250px
		min-height 250px
		
	.endeavor-overview .description p 
		font-size 14px
		margin-top 15px
		align-self center
		
	.endeavor-width-35-vw
		width 100%
		
	.endeavor-padding-left-50
		padding-left 0
		
	.endeavor-item-left-100
		margin-left 0
		
	.endeavor-pull-quote
		font-size 24px
		
	.endeavor-flex-row-nowrap
		flex-direction column
		flex-wrap wrap
		justify-content center
		
	.endeavor-description-big p
		font-size 24px
		
	.endeavor-width-500px
		width 80%
		
	.endeavor-left-100px
		left 60px
		
	.endeavor-right-100px
		right 60px
		
	.endeavor-50
		padding 25px
		
	.endeavor-square-60px
		width 50px
		height @width
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.endeavor-description
		padding 0
		width 100%
		width 75%
		border-left none
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		margin-top 150px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		
	.endeavor-parallax-hybrid
		margin-bottom 75px
		
	.endeavor-overview .description
		width 200px
		height 200px
		min-width 200px
		min-height 200px
		
	.endeavor-overview .description p 
		font-size 14px
		margin-top 15px
		align-self center
		
	.endeavor-width-35-vw
		width 100%
		
	.endeavor-padding-left-50
		padding-left 0
		
	.endeavor-item-left-100
		margin-left 0
		
	.endeavor-pull-quote
		font-size 24px
		line-height 1.5em
		
	.endeavor-flex-row-nowrap
		justify-content center
		flex-direction column
		flex-wrap wrap
		
	.endeavor-description-big p
		font-size 24px
		
	.endeavor-width-500px
		width 80%
		
	.endeavor-left-100px
		left 60px
		
	.endeavor-right-100px
		right 60px
		
	.endeavor-50
		padding 25px
		
	.endeavor-square-60px
		width 50px
		height @width


/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 96dpi)
	.endeavor-description
		width 100%
		
	.endeavor-description p
		font-size 14px
		
	.meta-data ul
		width 50%
		
	.end-pad-100
		height 175px
		
	.endeavor-overview
		height 75vh
		
	.endeavor-overview.endeavor-overview-preview
		height 60vh
		
	.endeavor-overview .description
		width 82%
		border-radius 0px
		left -1%
		padding 0
		padding 10%
		top -35%
		box-shadow none
		
	.endeavor-overview.endeavor-overview-preview .description
		box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
		bottom 35%
	
	.endeavor-50
		padding 10px
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-description
		width 100%
		
	.endeavor-description p
		font-size 14px
			
	.meta-data ul
		width 50%
		
	.end-pad-100
		height 175px
		
	.endeavor-overview
		height 75vh
		
	.endeavor-overview.endeavor-overview-preview
		height 60vh
		
	.endeavor-overview .description
		width 82%
		border-radius 0px
		left -1%
		padding 0
		padding 10%
		top -35%
		box-shadow none
		
	.endeavor-overview.endeavor-overview-preview .description
		box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
		bottom 35%
		
	.endeavor-50
		padding 10px
		


