/*

Endeavor Sections

*/

@require 'color.styl'
@require 'type.styl'

/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'
@require 'animations.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px
$StickyOffsetMeta = 20vh


/* -------------------------------------- */
/* Container style modifiers */

.endeavor-border-16
	border-radius 16px
	overflow hidden

.endeavor-border-32
	border-radius 32px
	overflow hidden

.endeavor-border-48
	border-radius 48px
	overflow hidden

.endeavor-border-64
	border-radius 64px
	overflow hidden

.endeavor-border-32-responsive
	border-radius 32px
	overflow hidden


/* -------------------------------------- */
/* Elements */

.endeavor-side-label
	width 100px
	height 300px
	border-right 1px solid $BLACK_TEXT
	

.endeavor-vertical-rule
	width 2px
	height 100%
	background-color $BLACK


.endeavor-container
	display none
	background-color $WHITE_BG
	overflow-x hidden
	overflow-y hidden
	opacity 0
	height 102%
	width 100%
	position relative
    
	transition all 500ms
	

.endeavor-content-container
	width 100%
	height 100%
	

.endeavor-button
	width 192px
	height 48px
	
	border-radius 24px
	border none
	
	background-color $WHITE_BG
	box-shadow 0 0 25px rgba(0 0 0 0.1)
	
	transition all 250ms ease-in-out
	

.ghost
	background-color transparent !important
	border 1px solid $GRAY
	box-shadow 0 0 0 rgba(0 0 0 0)
	

.flat
	background-color $GRAY90 !important
	border none
	box-shadow 0 0 0 rgba(0 0 0 0)
	

.endeavor-button:hover 
	cursor pointer
	

.endeavor-button:hover h3
	letter-spacing 5px
	

	
.flex-row
	display flex
	flex-direction row
	

.visible
	opacity 1
	

.hidden
	display none !important
	
	
.endeavor
	min-width 102vw
	height 100vh
	min-height 750px
	position relative
	overflow-x hidden
	overflow-y visible
	margin-right 5vw
	display flex
	justify-content center
	

.endeavor-overview 
	width 100%
	height 70vh
	min-height 400px
	position absolute
	left 0
	z-index 1
	display flex
	flex-direction column
	box-shadow 0 5px 3px rgba(0, 0, 0, 0)
	
	transition all 250ms
	

.endeavor-overview-preview:hover 
	/*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18)*/
	cursor pointer


.endeavor-overview-preview:hover .hero 
	transform scale(1.03)


.endeavor-overview-preview:hover .description 
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
	

.endeavor-border-top
	border-top 1px solid $GRAY
	padding-top 5px
	

.endeavor-border-bottom
	border-bottom 1px solid $GRAY
	padding-bottom 5px
	

.endeavor-border-top-noPad
	border-top 1px solid $GRAY
	

.endeavor-border
	border 1px solid $GRAY
	

.endeavor-border-medium-1
	border 1px solid $GRAY75
	

.endeavor-border-dashed
	border-style dashed
	

.endeavor-border-dotted
	border-style dotted


.endeavor-page 
	width 100%
	height 100%
	position relative
	display block
	

.endeavor-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		

.endeavor-inline
	display inline-block
		

.endeavor-contents 
	width 85%
	max-width 1000px // In accordance with big-moment-1 85vw sizing
	// min-width 500px
	position relative
	margin-left auto
	margin-right auto
	margin-top 85vh
	
	transition margin-top 250ms ease-in-out
	

.endeavor-intro 
	display flex
	flex-direction row
	justify-content flex-end
	
	width 100%
	position relative
	padding-bottom 200px
	padding-top 50px
	
	transition-timing-function ease-in-out
	transition margin-top 1000ms
	

.hero-box 
	overflow hidden
	width 100%
	height 100%
	transition-timing-function ease-in-out
	transition margin-top 1s
	
.hero-parallax
	width 102vw
	

.video-settings
	width 100%
	height calc(100% / 1.778) // Standard 16:9 Video


.end-pad
	display block
	width 100%

.end-pad-500
	height 500px
		

.end-pad-250
	height 250px
	

.end-pad-100
	height 100px
	

.end-pad-50
	height 50px
	

.end-pad-25
	height 25px
	

/* -------------------------------------- */
/* Hero Box */
	

.hero-box-entry 
	margin-top 100px


.hero 
	overflow hidden
	width 100%
	height 100%
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	transition-timing-function ease-in-out
	transition all 1s
	

/* -------------------------------------- */
/* Description Box */
	

.endeavor-overview .description 
	position absolute
	bottom -15%
	
	margin-left 15%
	
	width 300px
	height 300px
	min-width 300px
	min-height 300px	
	
	padding 50px 50px 30px 50px
	
	order inherit
	z-index 20
	
	background-color $WHITE_BG
	
	border-radius 50px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	display flex
	flex-direction column
	justify-content center
	
	transition all 250ms


.endeavor-overview .description h3 
	margin-bottom 10px
	text-align center


.endeavor-overview .description h2 
	margin-bottom 7.5px
	text-align center
	

.endeavor-overview .description-preview
	position absolute
	
	top 10%
	padding 55px 75px 35px 60px
	
	order inherit
	z-index 20
	
	background-color $WHITE_BG
	
	border-radius 0 50px 50px 0
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)
	
	transition all 250ms



.endeavor-overview .description-preview h3 
	margin-bottom 5px
	text-align center


.endeavor-overview .description-preview h2 
	margin-bottom 7.5px
	margin-left -2.5px
	text-align center
	
.endeavor-overview .description hr
	width 15px	
	height 1px
	border none
	color $BLACK
	background-color $BLACK


.endeavor-overview .description p
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px
	
	margin-top 40px
	text-align center
	
	align-self flex-end


.endeavor-overview .description .social 
	width 75%
	bottom 30px
	position absolute
	border-top 1.25px dotted black
	padding  25px 0 0 0
		


/* -------------------------------------- */
/* Moments */

.endeavor-parallax-behind-fs:hover .center 
	opacity 1


.endeavor-parallax-behind-fs
	display block
	height 70vh
	position relative
	text-align center
	border-top 130vh
	margin-top -130vh
	border-bottom 100vh
	margin-bottom -100vh
	border-style solid
	border-color $WHITE_BG
	z-index -1
	transition-timing-function linear
	transition all 0.5s


.endeavor-parallax-behind-support 
	background-repeat no-repeat
	background-attachment scroll
	background-size cover
	background-position left
	position absolute
	left -20%
	right -20%
	top 0
	height 125%
	margin-top -225px
	

.endeavor-parallax-hybrid 
	display block
	width 100%
	clear both
	position relative
	text-align center


.endeavor-parallax-hybrid .img-box
	position relative
	margin-right 17.5%
	top -400px
	filter drop-shadow(0 0 25px rgba(0,0,0,0.35))
	// box-shadow 0 0 50px rgba(0,0,0,.18)


.endeavor-parallax-hybrid-color 
	padding-top 50%
	bottom 0
	background-size 100% auto


.endeavor-parallax-hybrid p.caption 
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 14px
	
	letter-spacing 0.25px
	line-height 1.6em
	text-justify inter-word
	text-align left
	
	width 20vw
	min-width 225px
	max-width 350px
	
	margin-bottom 15px
	margin-top 25px
	padding 3.5vw
	
	position absolute
	display inline-block
	
	bottom -25%
	
	background-color $WHITE_BG
	
	box-shadow 0 -10px 15px rgba(0, 0, 0, 0.18) 
	

.endeavor-parallax-hybrid-left-caption
	left 10%
	

.endeavor-parallax-hybrid-left-img-box
	float right
	

.endeavor-parallax-hybrid-right-caption
	right 10%
	

.endeavor-parallax-hybrid-right-img-box
	float left
	left 15%


.endeavor-image-slider 
	display block
	width 100%
	clear both
	position relative
	text-align center


.endeavor-image-slider-color
	height 100%
	bottom 0
	background-size 100% auto
	

.endeavor-image-slider ul.slick-dots
	position initial



/* -------------------------------------- */
/* Children Modifiers */	


.space-after
	margin-bottom 0.25em
	

.space-after-1
	margin-bottom 1em
	



/* -------------------------------------- */
/* Analysis List */
	

.analysis:nth-child(odd)
	width 50%
	margin-right 25px
	min-width 200px


.analysis:nth-child(even)
	width 30%
	min-width 200px
	

.checklist
	width 50%
	// list-style-type circle
	min-width 350px
	

.checklist:nth-child(odd)
	margin-right 25px
	

.checklist-simple
	width 35%
	min-width 250px
	


/* -------------------------------------- */
/* Meta Data */
	
.meta-data 
	top $StickyOffsetMeta
	height 520px
	
	max-width 150px
	
	display flex
	flex-direction column
	order 1

	border-left 1px solid $GRAY
	padding 20px 75px 0 25px
	

.meta-data line 
	color $BLACK_Q
	

.meta-data ul li
	font-family 'Source Sans Pro', sans-serif
	font-size 14px
	font-weight 300
	line-height 1.25
	
	text-align left


.meta-data ul li:nth-child(odd) 
	font-weight 400
	margin-bottom 3px

.meta-data ul li:nth-child(even) 
	margin-bottom 15px
	


/* -------------------------------------- */
/* Caption */


p.center-caption	
	text-align center
	
	margin-bottom 150px
	margin-left auto
	margin-right auto
	
	display block
	
	width 50%
	
	transition width ease-in-out 250ms


.caption 
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 14px
	
	text-justify inter-word
	line-height 1.65em
	text-align left

	width 500px
	
	position relative
	display inline-block
	

.caption-mod
	width 100%
	min-width 200px
	max-width 350px
	


/* -------------------------------------- */
/* Image Box */


.endeavor-image-box 
	width 50%
	padding-bottom 30%
	display block
	float left
	clear both
	
	background-position center


.image-left.caption.caption--2 p 
	left 20%


.overlay-background 
	width 100%
	height 100%
	background-color white
	opacity 0.75


.overlay-background:h$GREY
	cursor url("../images/assets/xx.png"), auto


.endeavor-image-box.right 
	float right


.image-left 
	width 100%
	height 100%


.endeavor-image-box--bottom 
	margin-bottom 150px


.endeavor-image-box--center 
	clear none
	float none
	
	display block
	
	position relative
	margin-left auto
	margin-right auto
	

.image-left p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 50%
	margin-left 50px
	margin-top 0


.image-right p 
	border-top 1.25px dotted black
	padding-top 1.5em
	position absolute
	left 20%
	margin-left 50px
	margin-top 0
	

.img-box 
	position relative
	width 30vw
	max-width 400px
	


/* -------------------------------------- */
/* Z Index */

.endeavor-push-1
	z-index 1
	

.endeavor-push-2
	z-index 2
	

/* -------------------------------------- */
/* Image Grid */
	

.image-grid-overlay 
	width 100%
	height 100%
	position absolute
	z-index 100
	display none


.grid-slider 
	width 10%
	height auto
	margin-bottom 50px
	position relative
	margin-left auto
	margin-right auto
	display none
	transition all ease-in-out 500ms
	transform translateZ(0)


.active-grid-slider 
	width 100%
	transform scale(0.85)
	margin-bottom 0


.image-grid-wrapper 
	clear both
	position relative
	display block
	text-align center


.image-grid-container
	border-radius 20% 
	position relative
	display inline-block
	width  12%
	margin 2%
	box-shadow 0 0px 10px rgba(0, 0, 0, 0) 
	transition all ease-in-out 250ms


.slider-transition 
	margin-bottom -55%
	top -275px
	transform scale(0.15)
	z-index 0
	opacity 0
	

.bounce 
	transition all ease-in-out 250ms


.bounce:hover 
	box-shadow 0 15px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-15px)


.bounce-sm 
	transition all ease-in-out 250ms


.bounce-sm:hover 
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.18) 
	cursor pointer
	transform translateY(-5px)


.active-grid::after 
	content ""
	position absolute
	margin-top 10px
	border-bottom 3px solid $GRAY
	width 35%
	margin-left -20%


.shrink-grid 
	width  4%
	margin 10px


.image-cross 
	position absolute
	display inline-block
	width  50px
	height 50px
	top 36%
	left 36%
	border-radius 100%
	border 1px solid black
	opacity 0
	transition all ease-in-out 250ms


.image-grid 
	width 100%
	border-radius 20%
	padding-bottom 100%
	background-color green
	background-position center
	background-repeat no-repeat
	background-size cover
	transition all ease-in-out 250ms
	


/* -------------------------------------- */
/* Parallax Box */
	
.endeavor-para-box blockquote 
	position absolute
	width 40%
	margin-left 50px
	margin-top 14.5%


.endeavor-para-box blockquote.left 
	text-align left
	left 45%


.endeavor-para-box blockquote.right 
	text-align right
	left 5%
	


/* -------------------------------------- */
/* Description Box */

.endeavor-description 
	width 50%
	max-width 500px
	border-left 1px solid $GRAY
	position relative
	display block
	padding-left 35px
	
	order 2
	
.endeavor-description p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 18px
	
	line-height 1.5em
	letter-spacing 0
	text-align left
	
.endeavor-description q 
	margin-top 0
	margin-bottom 0
	
.endeavor-description h4
	margin-top 50px 	

.pull-left p 
	text-align center
	line-height 1.5em
	padding 0 75px 25px 75px


.pull-left h1 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400


.pull-left 
	display inline-block
	width 40%
	float right
	position relative
	margin-right 45px
	padding-top 28px
	padding-bottom 30px
	

.endeavor-description.no-border
	border none
	

/* -------------------------------------- */
/* Description Box Big */

.endeavor-description-big 
	width 75%
	max-width 1000px
	position relative
	display block
	padding 0 0 30px 35px
	
	order 2
	
.endeavor-description-big p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 36px
	
	text-align left
	line-height 1.75em
	letter-spacing 0
	
.endeavor-description-big q 
	margin-top 0
	margin-bottom 0
	
.endeavor-description-big h4
	margin-top 50px 
	


/* -------------------------------------- */
/* Margin Modifiers */

.endeavor-item
	box-sizing border-box
	margin-top 50px
	margin-bottom 50px
	

.endeavor-item-250
	margin-top 250px
	margin-bottom 250px
	

.endeavor-item-top-250
	margin-top 250px
	

.endeavor-item-bottom-250
	margin-bottom 250px
	

.endeavor-item-125
	margin-top 125px
	margin-bottom 125px
	

.endeavor-item-top-125
	margin-top 125px


.endeavor-item-bottom-125
	margin-bottom 125px
	

.endeavor-item-top
	margin-top 75px
	

.endeavor-item-bottom
	margin-bottom 75px
	

.endeavor-item-50
	margin-top 50px
	margin-bottom 50px
	

.endeavor-item-top-25
	margin-top 25px


.endeavor-item-top-50
	margin-top 50px
	

.endeavor-item-bottom-50
	margin-bottom 50px
	

.endeavor-item-bottom-35
	margin-bottom 35px
	

.endeavor-item-25
	margin-top 25px
	margin-bottom 25px
	

.endeavor-item-50-25
	margin 25px
	margin-top 50px
	

.endeavor-item-left-25
	margin-left 25px
	

.endeavor-item-right-25
	margin-right 25px
	

.endeavor-item-top-25
	margin-top 25px
	

.endeavor-item-bottom-25
	margin-bottom 25px
	

.endeavor-item-15
	margin-top 15px
	margin-bottom 15px
	

.endeavor-item-top-15
	margin-top 15px
	

.endeavor-item-bottom-15
	margin-bottom 15px
	
.endeavor-item-10
	margin-top 10px
	margin-bottom 10px
	

.endeavor-item-top-10
	margin-top 10px
	

.endeavor-item-bottom-10
	margin-bottom 10px
	

.endeavor-item-5
	margin-top 5px
	margin-bottom 5px
	

.endeavor-item-top-5
	margin-top 5px
	

.endeavor-item-bottom-5
	margin-bottom 5px
	

.endeavor-item-top-none
	margin-top 0
	

.endeavor-item-bottom-none
	margin-bottom 0
	

.endeavor-item-left-100
	margin-left 100px
	

.endeavor-item-left-50
	margin-left 50px
	

.endeavor-item-all-25 
	margin 25px
	

.endeavor-item-no-margin
	margin -2px
	

.endeavor-item-left-neg-5
	margin-left -5px
	

.endeavor-item-left-none
	margin-left 0 !important
	

.endeavor-item-right-none
	margin-right 0 !important
	

.endeavor-item-top-none
	margin-top 0 !important
	

.endeavor-item-bottom-none
	margin-bottom 0 !important
	

.endeavor-item-no-vertical-margin
	margin-top 0 !important
	margin-bottom 0 !important


/* -------------------------------------- */
/* Background Modifiers */	

.endeavor-bg-center
	background-position center
	

.endeavor-bg
	background-size 100% auto
	background-repeat no-repeat
	

.endeavor-bg-200
	background-size 200% auto
	background-repeat no-repeat
	

.endeavor-bg-25
	background-position 25% 25%
	


/* -------------------------------------- */
/* Text Modifiers */	

.endeavor-text-center
	text-align center
	

.endeavor-text-left
	text-align left
	

.endeavor-text-right
	text-align right
	

.endeavor-caption-2
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 18px
	
	line-height 1.6em
	margin-top 0
	max-width 650px
	

.endeavor-caption-3
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 18px
	
	line-height 1.75em
	margin-top 0
	max-width 300px
	

.endeavor-caption-4
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 36px
	
	line-height 1.25em
	margin-top 0
	max-width 300px
	

.endeavor-pull-quote
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 36px
	
	letter-spacing -0.025em
	
	line-height 2em
	margin-top 25px
	max-width 850px

/* -------------------------------------- */
/* Flex Modifiers */	

.endeavor-flex 
	display flex


.endeavor-flex-column
	display flex
	flex-direction column
	

.endeavor-flex-row
	display flex
	flex-direction row
	flex-wrap wrap
	

.endeavor-flex-row-nowrap
	display flex
	flex-direction row
	flex-wrap none
	

.endeavor-flex-nowrap
	flex-wrap none
	

.endeavor-flex-wrap
	flex-wrap wrap
	

.endeavor-flex-center
	justify-content center
	align-items center
	

.endeavor-flex-justify-center
	justify-content center
	

.endeavor-flex-center-main
	align-items center
	

.endeavor-flex-between
	justify-content space-between
	

.endeavor-flex-around
	justify-content space-around
	

.endeavor-flex-end
	justify-content flex-end
	

.endeavor-flex-start
	justify-content flex-start
	

.endeavor-flex-align-start
	align-items flex-start
	

.endeavor-flex-start2
	justify-content flex-start
	align-items flex-start
	

.endeavor-flex-baseline
	align-items baseline
	

.endeavor-flex-self-center
	align-self center

.endeavor-first
	order 0
	

.endeavor-second
	order 1
	

.endeavor-third
	order 2
	

.endeavor-flex-1
	flex-grow 1
	

.endeavor-flex-2
	flex-grow 2
	


/* -------------------------------------- */
/* Width Modifiers */	

.endeavor-width-25-prcnt
	width 25%
	

.endeavor-width-35-prcnt
	width 35%
	

.endeavor-width-40-prcnt
	width 40%
	

.endeavor-width-45-prcnt
	width 45%
	

.endeavor-width-60-prcnt
	width 60%
	

.endeavor-width-75-prcnt
	width 75%
	

.endeavor-width-100-prcnt
	width 100%
	

.endeavor-width-50-prcnt
	width 50%
	

.endeavor-width-25-px
	width 25px
	

.endeavor-width-75-percent
	position relative
	margin-left 12.5%
	width 75%
	

.endeavor-width-norm
	width 85%
	max-width 1000px // In accordance with big-moment-1 85vw sizing
	position relative
	margin-left auto
	margin-right auto
	

.endeavor-width-102vw
	max-height 25000px // Animation Trick
	width 102vw
	left calc((102vw - 1000px) / -2) // 1200~ Max contents relative width
	

.endeavor-width-100vw
	max-height 25100px // Animation Trick
	width 100vw
	left calc((101vw - 1000px) / -2) // 1200~ Max contents relative width
	

.endeavor-width-100-prcnt-600px
	width 100%
	max-width 600px

	
.endeavor-max-width-750px
	max-width 750px


.endeavor-width-500px
	width 500px
	

.endeavor-width-300px
	width 300px
	

.endeavor-width-200px
	width 200px
	

.endeavor-width-150px
	width 150px
	

.endeavor-max-width-500
	max-width 500px
	

.endeavor-max-width-400
	max-width 400px
	

.endeavor-min-width-150px
	width 150px
	

.endeavor-min-width-200px
	width 200px
	

.endeavor-min-width-250px
	width 250px
	
	
.endeavor-min-width-400px
	max-width 400px
	

.fsw // fullscreen width
	width 100%
	


/* -------------------------------------- */
/* Height Modifiers */

.limit-height-50vh
	max-height 50vh
	

.limit-width-50vw
	max-width 50vw
	

.endeavor-height-25vw
	height 25vw
	

.endeavor-height-10vw
	height 10vw
	

.endeavor-height-100vw
	height 100vw
	

.endeavor-height-750px
	height 750px
	

.endeavor-height-500px
	height 500px
	

.endeavor-height-200px
	height 200px
	

.endeavor-height-100px
	height 100px
	

.endeavor-height-100-prcnt
	height 100%
	

.endeavor-height-1000px-responsive
	height 1000px
	

.endeavor-height-auto
	height auto
	

.endeavor-height-max-0-reveal
	max-height 0px
	

.endeavor-height-max-100px-reveal
	max-height 100px
	

.endeavor-height-max-100px-reveal:hover
	max-height 500px
	cursor pointer
	

.endeavor-height-max-100px-reveal:hover .x-out
	transform: rotate(45deg)
	
	

/* -------------------------------------- */
/* Form Modifiers */

.endeavor-square-width-25
	width 25vw
	height @width
	min-width 100px
	min-height 100px
	max-width 300px
	max-height 300px
	

.endeavor-square-width-30
	width 30vw
	height @width
	min-width 300px
	min-height 300px
	max-width 500px
	max-height 500px
	

.endeavor-square-250px
	width 250px
	height @width
	

.endeavor-square-125px
	width 125px
	height @width
	

.endeavor-square-100px
	width 100px
	height @width
	

.endeavor-square-75px
	width 75px
	height @width
	

.endeavor-square-60px
	width 60px
	height @width
	

.endeavor-square-50px
	width 50px
	height @width
	

.endeavor-square-35px
	width 35px
	height @width
	

.endeavor-square-5px
	width 5px
	height @width
	
	
.endeavor-circle 
	border-radius 100%
	

.endeavor-radius-50px
	border-radius 50px
	


/* -------------------------------------- */
/* Transform Modifiers */

.endeavor-rot-90-ccw
	transform rotate(-90deg)
	

.endeavor-rot-90-cw
	transform rotate(90deg)

	


/* -------------------------------------- */
/* Display Modifiers */

.endeavor-block
	display block
	

.endeavor-inline-block
	display inline-block
	

.endeavor-inline
	display inline


.endeavor-flex
	display flex
	

.endeavor-inline-flex
	display inline-flex
	

.endeavor-none
	display none
	

.endeavor-shadow-50
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
	

.endeavor-shadow-25
	box-shadow 0 0px 25px rgba(0, 0, 0, 0.18)
	

.endeavor-shadow-paper
	box-shadow 0 3px 10px rgba(0, 0, 0, 0.1)


/* -------------------------------------- */
/* Padding Modifiers */	

.endeavor-50
	padding 50px
	

.endeavor-25
	padding 25px
	

.endeavor-15
	padding 15px
	

.endeavor-5
	padding 5px
	

.endeavor-vertical-250
	padding-top 250px
	padding-bottom 250px
	

.endeavor-vertical-50
	padding-top 50px
	padding-bottom 50px
	

.endeavor-vertical-5
	padding-top 5px
	padding-bottom 5px
	

.endeavor-padding-vertical-5vw
	padding-top 5vw
	padding-bottom 5vw
	

.endeavor-padding-vertical-125
	padding-top 125px
	padding-bottom 125px
	

.endeavor-horizontal-50
	padding-left 50px
	padding-right 50px
	

.endeavor-horizontal-10vw
	padding-left 10vw
	padding-right 10vw
	

.endeavor-padding-left-100
	padding-left 100px
	

.endeavor-padding-left-50-responsive
	padding-left 50px
	

.endeavor-padding-left-50
	padding-left 50px
	

.endeavor-padding-left-25
	padding-left 25px
	

.endeavor-padding-right-10
	padding-right 10px
	

.endeavor-padding-right-25
	padding-right 25px
	

.endeavor-padding-bottom-125
	padding-bottom 125px
	

.endeavor-padding-bottom-75
	padding-bottom 75px
	

.endeavor-padding-bottom-5vw
	padding-bottom 5vw
	

.endeavor-padding-bottom-50
	padding-bottom 50px
	

.endeavor-padding-bottom-35
	padding-bottom 35px
	

.endeavor-padding-bottom-25
	padding-bottom 25px
	

.endeavor-padding-bottom-15
	padding-bottom 15px
	

.endeavor-padding-top-left-50
	padding-top 50px
	padding-left 50px
	

.endeavor-padding-top-75
	padding-top 75px
	

.endeavor-padding-top-50
	padding-top 50px
	

.endeavor-padding-top-35
	padding-top 35px
	

.endeavor-padding-top-25
	padding-top 25px
	

.endeavor-padding-top-15
	padding-top 15px
	

.endeavor-no-padding
	padding 0
	


/* -------------------------------------- */
/* Layout Modifiers */

.endeavor-pos-abs
	position absolute


.endeavor-pos-rel
	position relative


.endeavor-float-right
	float right
	

.endeavor-float-left
	float left
	

.endeavor-left-0
	left 0
	

.endeavor-center
	position relative
	margin-left auto
	margin-right auto	
	

.endeavor-top-left
	position absolute
	top 0
	left 0
	

.endeavor-top-right
	position absolute
	top 0
	right 0
	

.endeavor-top-minus-15vw
	top -15vw
	

.endeavor-top-minus-10vw
	top -10vw
	

.endeavor-top-50-prcnt
	top 50%
	

.endeavor-left-25px
	left 25px
	

.endeavor-left-100px
	left 100px
	

.endeavor-right-100px
	right 100px
	

.endeavor-clearfix:after
	content "."
	visibility hidden
	display block
	height 0
	clear both
	

.endeavor-clear-tablet
	clear none
	
	


/* -------------------------------------- */
/* Misc Modifiers */

.endeavor-vertical-last
	bottom 400px
	height 100px
	


/* -------------------------------------- */
/* Color Modifiers */

.endeavor-bg-graydient
	background linear-gradient( 0deg, $WHITE_BG, $GRAY90 );
	

.endeavor-color-gray-75
	color $GRAY75
	
	


/* -------------------------------------- */
/* Interaction */


	.endeavor-transition-100
		transition all 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		

	.endeavor-transition-250
		transition all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		

	.endeavor-transition-500
		transition all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		
	
	.endeavor-transition-1000
		transition all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		
	
	.endeavor-transition-ease-1000
		transition all 1000ms ease-in-out
		
	
	.endeavor-transition-ease-500
		transition all 500ms ease-in-out
		

	.endeavor-transition-ease-250
		transition all 250ms ease-in-out
		
	
	.endeavor-no-flow
		overflow hidden
		
	
	.endeavor-360:hover
		animation three-sixty 1s
		
	
	.endeavor-reveal
		max-height 0px
		margin-bottom 0px
		

	.trigger 
		position fixed
		top 0
		left 0
		clip rect(0,0,0,0)
		

	.comparison-trigger:checked
		max-height 500px
		



/*
 *	Media Queries
 */
 

  /*---------------------------------------------------------------*/
/* Breakpoint 0 | Large Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-width-102vw
		left calc((102vw - 1000px) / -2) // 102vw width | 85~ Contents relative width
		
	.endeavor-width-100vw
		left calc((101vw - 1000px) / -2) // 1200~ Max contents relative width
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-contents blockquote
		font-size 48px
		
	.endeavor-width-102vw
		left calc((102vw - 1000px) / -2) // 102vw width | 85~ Contents relative width	
		
	.endeavor-width-100vw
		left calc((101vw - 1000px) / -2) // 1200~ Max contents relative width
		

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.endeavor-overview .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
		width 250px
		height 250px
		min-width 250px
		min-height 250px
		
	.endeavor-overview
		height 60vh
		
	.endeavor-width-102vw
		left calc((102vw - 85vw) / -2) // 102vw width | 85~ Contents relative width
		
	.endeavor-width-100vw
		left calc((101vw - 85vw) / -2) // 1200~ Max contents relative width
		
	.endeavor-contents
		margin-top 50vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -300px
		
	.endeavor-para-box blockquote 
		display none
		
	.endeavor-image-box
		width 100%
		padding-bottom 60%
		
	.endeavor-item-250
		margin-top 125px
		margin-bottom 125px
		
	.endeavor-item-top-250
		margin-top 125px
		
	.endeavor-item-bottom-250
		margin-bottom 125px
		
	.endeavor-item-125
		margin-top 75px
		margin-bottom 75px
		
	.endeavor-item-top-125
		margin-top 75px
		
	.endeavor-item-bottom-125
		margin-bottom 75px
		
	.endeavor-item-50
		margin-top 25px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-50
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 35px
		
	.endeavor-item-bottom-50
		margin-bottom 25px
		
	.endeavor-item-25
		margin-top 15px
		margin-bottom 15px
	
	.endeavor-item-top-25
		margin-top 15px	

	.endeavor-item-bottom-25
		margin-bottom 15px	

	.endeavor-item-15
		margin-top 10px
		margin-bottom 10px
		
	.endeavor-item-top-15
		margin-top 10px

	.endeavor-item-bottom-15
		margin-bottom 10px
		
	.endeavor-item-10
		margin-top 5px
		margin-bottom 5px

	.endeavor-item-top-10
		margin-top 5px

	.endeavor-item-bottom-10
		margin-bottom 5px
		
	.endeavor-item-left-100
		margin-left 50px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 300px
		
	.endeavor-padding-left-100-1000
		padding-left 0
		
	.endeavor-width-100-prcnt-1000
		width 100%
		
	.endeavor-height-500px-1000
		height 500px
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-padding-left-25-1000
		padding-left 25px
		
	.endeavor-width-75-prcnt-1000
		width 75%
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1025px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-overview .description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
		width 250px
		height 250px
		min-width 250px
		min-height 250px
		
	.endeavor-overview
		height 60vh
		
	.endeavor-width-102vw
		left calc((102vw - 85vw) / -2) // 102vw width | 85~ Contents relative width
		
	.endeavor-width-100vw
		left calc((101vw - 85vw) / -2) // 1200~ Max contents relative width
		
	.endeavor-contents
		margin-top 50vh
		
	.endeavor-contents blockquote
		font-size 45px
		
	.endeavor-intro 
		padding-top 325px
		
	.hero-box
		display table
		
	.endeavor-parallax-behind-fs 
		height 80vh
		
	.endeavor-parallax-hybrid .img-box
		top -300px
		
	.endeavor-para-box blockquote 
		display none
		
	.endeavor-image-box
		width 100%
		padding-bottom 60%
		
	.endeavor-item-250
		margin-top 125px
		margin-bottom 125px
		
	.endeavor-item-top-250
		margin-top 125px
		
	.endeavor-item-bottom-250
		margin-bottom 125px
		
	.endeavor-item-125
		margin-top 75px
		margin-bottom 75px
		
	.endeavor-item-top-125
		margin-top 75px
		
	.endeavor-item-bottom-125
		margin-bottom 75px
		
	.endeavor-item-50
		margin-top 25px
		margin-bottom 25px
		
	.endeavor-item-top
		margin-top 50px
		
	.endeavor-item-top-50
		margin-top 25px
		
	.endeavor-item-bottom
		margin-bottom 35px
		
	.endeavor-item-bottom-50
		margin-bottom 25px
		
	.endeavor-item-25
		margin-top 15px
		margin-bottom 15px
	
	.endeavor-item-top-25
		margin-top 15px	

	.endeavor-item-bottom-25
		margin-bottom 15px	

	.endeavor-item-15
		margin-top 10px
		margin-bottom 10px
		
	.endeavor-item-top-15
		margin-top 10px

	.endeavor-item-bottom-15
		margin-bottom 10px
		
	.endeavor-item-10
		margin-top 5px
		margin-bottom 5px

	.endeavor-item-top-10
		margin-top 5px

	.endeavor-item-bottom-10
		margin-bottom 5px
		
	.endeavor-item-left-100
		margin-left 50px
		
	.endeavor-parallax-hybrid
		margin-top 75px
		margin-bottom 300px
		
	.endeavor-padding-left-100-1000
		padding-left 0
		
	.endeavor-width-100-prcnt-1000
		width 100%
		
	.endeavor-height-500px-1000
		height 500px
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-padding-left-25-1000
		padding-left 25px
		
	.endeavor-width-75-prcnt-1000
		width 75%
	


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents
		margin-top 600px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.endeavor-description
		width 100%
		padding 0
		border-left none
		max-width 750px
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		max-width 100%
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		margin-top 150px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		
	.endeavor-parallax-hybrid
		margin-bottom 75px
		
	.endeavor-overview .description p 
		font-size 14px
		margin-top 15px
		align-self center
		
	.endeavor-width-35-vw
		width 100%
		
	.endeavor-padding-left-50-responsive
		padding-left 0
		
	.endeavor-item-left-100
		margin-left 0
		
	.endeavor-pull-quote
		font-size 24px
		line-height 1.5em
		
	.endeavor-caption-2
		font-size 14px
		
	.endeavor-flex-row-nowrap
		justify-content center
		flex-direction column
		flex-wrap wrap
		
	.endeavor-description-big p
		font-size 24px
		
	.endeavor-width-500px
		width 100%
		
	.endeavor-left-100px
		left 60px
		
	.endeavor-right-100px
		right 60px
		
	.endeavor-50
		padding 25px
		
	.endeavor-square-60px
		width 50px
		height @width
		
	.endeavor-square-50px
		width 35px
		height @width
		
	.endeavor-square-35px
		width 25px
		height @width
		
	.endeavor-clear-tablet
		clear both
		
	.endeavor-padding-tablet-none
		padding 0
		
	.endeavor-padding-25-tablet
		padding 25px
		
	.endeavor-padding-100-left-tablet
		padding-left 100px
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-height-200px-responsive
		height 200px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.endeavor-intro 
		flex-direction column
		padding-top 50px
		
	.endeavor-contents
		margin-top 600px
		
	.endeavor-contents .project-intro 
		padding-top 300px
		
	.endeavor-description
		width 100%
		padding 0
		border-left none
		max-width 750px
		
	.meta-data
		flex-direction row
		flex-wrap wrap
		
		max-width 100%
		
		border-radius 10px 10px 0 0
		border 1px solid $GREY_BG
		border-top 10px solid $GREY_BG
		border-right none
		padding initial
		height auto
		margin-bottom 75px
		margin-top 150px
		
	.meta-data ul
		width 25%
		padding 15px
		padding-bottom 5px
		box-sizing border-box
		border-right 1px solid $GREY_BG
		border-top 1px solid $GREY_BG
		
	.endeavor-parallax-hybrid.parallax__group .img-box
		display none
		
	.endeavor-parallax-hybrid.parallax__group .caption
		display none
		
	.endeavor-parallax-hybrid
		margin-bottom 75px
		
	.endeavor-overview .description p 
		font-size 14px
		margin-top 15px
		align-self center
		
	.endeavor-width-35-vw
		width 100%
		
	.endeavor-padding-left-50-responsive
		padding-left 0
		
	.endeavor-item-left-100
		margin-left 0
		
	.endeavor-pull-quote
		font-size 24px
		line-height 1.5em
		
	.endeavor-caption-2
		font-size 14px
		
	.endeavor-flex-row-nowrap
		justify-content center
		flex-direction column
		flex-wrap wrap
		
	.endeavor-description-big p
		font-size 24px
		
	.endeavor-width-500px
		width 100%
		
	.endeavor-left-100px
		left 60px
		
	.endeavor-right-100px
		right 60px
		
	.endeavor-50
		padding 25px
		
	.endeavor-square-60px
		width 50px
		height @width
		
	.endeavor-square-50px
		width 35px
		height @width
		
	.endeavor-square-35px
		width 25px
		height @width
		
	.endeavor-clear-tablet
		clear both
		
	.endeavor-padding-tablet-none
		padding 0
		
	.endeavor-padding-25-tablet
		padding 25px
		
	.endeavor-padding-100-left-tablet
		padding-left 100px
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-height-200px-responsive
		height 200px


/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.hero
		margin-top -25px
		
	.endeavor
		min-width 104vw

	.endeavor-overview
		height calc(100vw * 1.5)
		
	.endeavor-contents
		margin-top 70px

	.endeavor-width-102vw
		left calc((104vw - 85vw) / -2) // 102vw width | 85~ Contents relative width
		
	.endeavor-width-100vw
		left calc((102vw - 85vw) / -2) // 1200~ Max contents relative width
		
	.endeavor-description
		width 100%
		
	.endeavor-description p
		font-size 16px
		line-height 24px
		
	.meta-data
		margin-top 50px
		
	.meta-data ul
		width 50%
		
	.end-pad-100
		height 175px
		
	.endeavor-overview
		position relative
		
	.endeavor-overview .description
		width 82%
		border-radius 0px
		left -1%
		padding 0
		padding 10%
		top 0
		box-shadow none
		
		height 150px
		min-height 100px
		
	.endeavor-item-all-15-mobile
		margin 15px
		
	.endeavor-overview.endeavor-overview-preview .description
		box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
		bottom 35%
	
	.endeavor-50
		padding 10px
		
	.endeavor-padding-left-0-mobile
		padding-left 0
		
	.endeavor-width-100-prcnt-mobile
		width 100%
		
	.endeavor-height-600px-mobile
		height 600px
		
	.endeavor-padding-top-25
		padding-top 15px
		
	.endeavor-padding-5-mobile
		padding-top 5px
		padding-bottom 5px
		
	.endeavor-center-mobile
		position relative
		margin-left auto
		margin-right auto	
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-min-width-275px-500
		width 275px
		
	.endeavor-width-100-prcnt-500
		width 100%
		
	.endeavor-item-right-0-500
		margin-right 0px
		
	.analysis:nth-child(odd)
		width 100%
		margin-right 0px

	.analysis:nth-child(even)
		width 100%	

	.checklist
		width 90%
		min-width 200px
		max-width 375px
		
	.checklist p 
		width 95%
		
	.checklist:nth-child(odd)
		margin-right 0px
		
	.caption
		line-height 1.5em
		
	.endeavor-500-width-auto
		width auto

	.endeavor-border-32-responsive
		border-radius 16px

		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.hero
		margin-top -25px
		
	.endeavor
		min-width 104vw

	.endeavor-overview
		height calc(100vw * 1.5)
		
	.endeavor-contents
		margin-top 70px
		
	.endeavor-width-102vw
		left calc((104vw - 85vw) / -2) // 102vw width | 85~ Contents relative width
		
	.endeavor-width-100vw
		left calc((102vw - 85vw) / -2) // 1200~ Max contents relative width
		
	.endeavor-description
		width 100%
		
	.endeavor-description p
		font-size 16px
		line-height 24px
		
	.meta-data
		margin-top 50px
			
	.meta-data ul
		width 50%
		
	.end-pad-100
		height 175px
		
	.endeavor-overview
		position relative
		
	.endeavor-overview .description
		width 82%
		border-radius 0px
		left -1%
		padding 0
		padding 10%
		top 0
		box-shadow none
		
		height 150px
		min-height 150px
		
	.endeavor-item-all-15-mobile
		margin 15px
		
	.endeavor-overview.endeavor-overview-preview .description
		box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
		bottom 35%
		
	.endeavor-50
		padding 10px
		
	.endeavor-padding-left-0-mobile
		padding-left 0
		
	.endeavor-width-100-prcnt-mobile
		width 100%
		
	.endeavor-height-600px-mobile
		height 600px
		
	.endeavor-padding-top-25
		padding-top 15px
		
	.endeavor-padding-5-mobile
		padding-top 5px
		padding-bottom 5px
		
	.endeavor-center-mobile
		position relative
		margin-left auto
		margin-right auto
		
	.endeavor-item-no-margin
		margin 0
		
	.endeavor-min-width-275px-500
		width 275px
		
	.endeavor-width-100-prcnt-500
		width 100%
		
	.endeavor-item-right-0-500
		margin-right 0px
		
	.analysis:nth-child(odd)
		width 100%
		margin-right 0px

	.analysis:nth-child(even)
		width 100%	

	.checklist
		width 90%
		min-width 200px
		max-width 375px
		
	.checklist p 
		width 95%
		
	.checklist:nth-child(odd)
		margin-right 0px
		
	.caption
		line-height 1.5em
		
	.endeavor-500-width-auto
		width auto

	.endeavor-border-32-responsive
		border-radius 16px


