/*

Styles for lazy loading images + ajax content

*/


// .blur-up
// 	filter blur(50px)
// 	transition filter 1000ms
 
// .blur-up.lazyloaded
// 	filter blur(0)


.lazyload
    opacity 0

/*  transition is applied to lazyloaded not lazyload */
.lazyloaded
    opacity 1
    transition opacity 500ms