/*

Project Progress Bar + Interaction

*/

@require 'parallax.styl'
@require 'animations.styl'
@require 'color.styl'
@require 'const.styl'



#progress-container
	display flex
	align-items center
	

.section-pagination
	width 100px
	

.section-pagination h4
	position absolute
	top 20px
	width 100px



/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */


/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	#progress-container
		display hidden	



/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#progress-container
		display hidden