/*

Project Progress Bar + Interaction

*/

@require 'parallax.styl'
@require 'animations.styl'
@require 'color.styl'
@require 'const.styl'



#progress-capsule
	display flex
	align-items center
	
	visibility visible
	display none
	

.progress
	height 3px 
	top 49%
	
	transition width ease-in-out 50ms
	

.progress_bg
	height 1px 
	top 50%
		

.section-pagination
	width 100px
	

.section-pagination h5
	position absolute
	top 25px
	width 100px
	opacity 0
	

.section-pagination .node_hit
	width 20px
	height @width
	border-radius 100%
	

.section-pagination .node
	width 5px
	height @width
	border-radius 100%
	

.section-pagination .node_visited
	width 7.5px
	height @width
	border-radius 100%
	

.section-pagination .node_hit:hover
	cursor pointer
	

.section-pagination .node_hit:hover .node
	width 10px
	height @width
	

.section-pagination .node_hit:hover h5
	top 20px
	opacity 1
	

.section-pagination .node:active
	width 5px
	height @width
	border-radius 100%
	



/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */


/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	#progress-capsule
		visibility hidden	



/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#progress-capsule
		visibility hidden