/*

Project Sections

*/

@require 'color.styl'
@require 'type.styl'

/*

case study

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

// @extend .module-font

/* -------------------------------------- */
/* Elements */

.project-container
	display none
	background-color $WHITE_BG
	overflow-x scroll
	overflow-y hidden
	height 100vh
	

.visible
	display flex
	flex-direction row
	
.hidden
	display none
	
	
.project
	min-width 100vw
	height 100vh
	min-height 750px
	position relative
	overflow-x hidden
	overflow-y visible
	display flex
	justify-content center
	

.project-view 
	position relative
	// overflow hidden
	transition all 250ms ease-in-out
	

.project-overview 
	width 100%
	height 70vh
	min-height 600px
	position absolute
	left 0
	z-index 1
	display flex
	flex-direction column
	box-shadow 0 5px 3px rgba(0, 0, 0, 0)
	transition all 250ms	


.project-overview:hover 
	/*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.18)*/
	cursor pointer


.project-overview:hover .overlay 
	background-color rgba(255,255,255,0.15)


.project-overview:hover .hero 
	transform scale(1.03)


.project-overview:hover .description 
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)


.project-page 
	width 100%
	height 100%
	position relative
	display block
	

.project-box 
	width 100%
	height 100%
	display block
	position relative
	z-index -1
	display block
	/*overflow hidden*/
		

.project-contents 
	width 75%
	max-width 1200px
	min-width 650px
	position relative
	margin-left auto
	margin-right auto
	margin-top 85vh


.project-contents h1 
	text-align center
	padding 30px
	

.project-intro 
	width 100%
	position relative
	padding-bottom 100px
	padding-top 50px
	

.hero-box 
	overflow hidden
	width 100%
	height 100%
	transition-timing-function ease-in-out
	transition margin-top 1s
	

/* -------------------------------------- */
/* Hero Box */
	

.hero-box-entry 
	margin-top 100px


.hero 
	overflow hidden
	width 100%
	height 100%
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	transition-timing-function ease-in-out
	transition all 1s
	

/* -------------------------------------- */
/* Description Box */
	

.description 
	width 300px
	height 300px
	min-width 300px
	min-height 300px	
	padding 50px 50px 30px 50px
	margin-left 7.5%
	position absolute
	bottom -15%
	order inherit
	z-index 2
	
	background-color $WHITE_BG
	
	border-radius 50px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	display flex
	flex-direction column
	justify-content center
	
	transition all 250ms


.description h3 
	margin-bottom 10px
	text-align center


.description h2 
	margin-bottom 7.5px
	text-align center
	
.description hr
	width 25px	
	height 4px
	border none
	color $BLACK
	background-color $BLACK


.description p
	font-family Chronicle-Semitalic 
	margin-top 40px
	text-align center
	align-self flex-end


.description .social 
	width 75%
	bottom 30px
	position absolute
	border-top 1.25px dotted black
	padding  25px 0 0 0
	

.description-wrapper
	align-self center
	


/* -------------------------------------- */
/* Moments */


.big-moment-1 
	margin-bottom 150px
	display block
	width 100%
	height 750px
	position relative
	text-align center
	

.big-moment-1 h1 
	padding-top 15%


.big-moment-1hover .center 
	opacity 1


.big-moment-1 
	display block
	width 175%
	left -35%
	height 750px
	position relative
	text-align center
	border-top 1200px
	margin-top -1200px
	border-bottom 1000px
	margin-bottom -950px
	border-style solid
	border-color $WHITE_BG
	z-index: -1
	transition-timing-function linear
	transition all 0.5s


.big-moment-1:hover img 
	margin-top 90px


.big-moment-1-color 
	background-repeat no-repeat
	background-attachment scroll
	background-size cover
	background-position left
	background-color Beige
	position absolute
	left -20%
	right -20%
	top 0
	height 125%
	margin-top -225px
	

.big-moment-2 
	margin-top    100px
	margin-bottom 350px
	display block
	width 100%
	clear both
	/*background-color red*/
	position relative
	text-align center


.big-moment-2 .img-box 
	position relative
	margin-right auto
	float right
	top -300px


.big-moment-2-color 
	padding-top 50%
	background-color Beige
	bottom 0
	width 100%
	background-size 100% auto


.big-moment-2 p.caption 
	font-size 12px
	line-height 2em
	margin-top 25px
	left 10%
	width 300px
	bottom -80px
	text-align left
	position absolute
	display inline-block
	text-align justify
	text-justify inter-word
	background-color $WHITE_BG
	padding 40px 30px 15px 30px
	box-shadow 0 -10px 15px rgba(0, 0, 0, 0.18) 


.big-moment-3 
	margin-top    100px
	display block
	width 100%
	clear both
	position relative
	text-align center


.big-moment-3-color 
	height 100%
	bottom 0
	width 100%
	background-size 100% auto
	

/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.hero-box
		display table
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.description 
		margin-left auto
		margin-right auto
		position relative
		order 2
		bottom 35%
		
	.hero-box
		display table
	


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.project
		display none // No case studies on mobile
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.project
		display none // No case studies on mobile
		


//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
		
	.project
		display none // No case studies on mobile
		


