/*

select-work-grid

*/

@require 'color.styl'
@require 'type.styl'


/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

/* -------------------------------------- */
/* Elements */

#select-work 
	width 100%
	padding-top 15%
	padding-bottom 15%
	

#select-work-wrapper
	max-width 1500px
	min-width 650px
	width 75% 
	position relative
	margin-left auto
	margin-right auto


.select-work p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 18px
	
	text-align center
	line-height 1.5em
	letter-spacing 0
	
	

.select-work ul
	width 100%
	margin-left auto
	margin-right auto
	margin-top 10%
	position relative
	display flex
	flex-flow row wrap
	justify-content space-around
	

.select-work li
	width 50px
	height 50px
	margin 25px
	margin-bottom 35px
	
	padding-bottom 75px
	border-bottom-right-radius 25px
	border-bottom-left-radius 25px
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)

	line-height 150px
	font-weight bold
	font-size 3em
	text-align center
	transition all 250ms ease-in-out
	
	background-repeat no-repeat
	background-attachment scroll
	background-size cover   
	background-position center 
	background-color $WHITE_BG
	
	
.select-work li:hover
	box-shadow 0 0px 50px rgba(0, 0, 0, 0.18)
	cursor pointer
	
.select-work li:hover .select-work-img
	transformscale(1.03)
	
.select-work li:hover .select-work-description
	opacity 1
	
	
.select-work li h3
	margin-top 33px
	font-size 12px
	text-align center
	line-height 1em
	

.select-work li:first-child // Hide the case study filler on desktop
	display none
	

.select-work li:nth-child(n+8) // Select all but first 6 elements, add 1 for hidden case-study
	display none
	

.select-work img 
	width 0


.select-work button:hover 
	cursor pointer
	background-color #404040
	border-color #404040
	

.select-work img
	clip-path none
	

.select-work-img-container
	width 100%
	height 100%
	position relative
	display block
	overflow hidden

	
.select-work-img
	width 100%
	height 100%
	background-size cover
	background-position center
	transition-timing-function ease-in-out
	transition all 100ms
	

.select-work-description
	position absolute
	width 100%
	height 100%
	padding 15px
	z-index 1
	opacity 0
	
	display flex
	flex-direction column
	justify-content center
	align-items center
	
	background-color $WHITE_BG
	background-clip padding-box
	box-sizing border-box
	border 10px solid rgba(0 0 0 0)
	transition all 250ms ease-out
	

.select-work-description p
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 16px
	
	max-width 250px
	

.select-work-description hr
	width 15px	
	height 2px
	margin-top 10px
	margin-bottom 10px
	border none
	background-color $GREY
	

.select-work h5
	margin-top 125px
	margin-bottom 125px
	transition all 100ms ease-in-out
	

.select-work h5:hover
	color $GREY
	cursor pointer
	

.select-work h5:active
	color $BLACK
	cursor pointer


/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.select-work li
		width 20vw
		height @width
		
	.select-work ul
		// max-width 1000px
		// min-width 850px
		

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)		
	.select-work li
		width 20vw
		height @width
		
	.select-work ul
		// max-width 1000px
		// min-width 850px
 


 /*---------------------------------------------------------------*/
/* Breakpoint 2 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)		
	.select-work li
		width 20vw
		height @width
		
	.select-work ul
		// max-width 850px
		// min-width 750px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)	
	.select-work li
		width 20vw
		height @width
		
	.select-work ul
		// max-width 850px
		// min-width 750px

 

/*---------------------------------------------------------------*/
/* Breakpoint 3 | Small Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1200px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#select-work-wrapper
		min-width 500px
		width 75%
		
	.select-work li
		width 30vw
		height @width
	
	.select-work ul
		// max-width 624px
		// min-width 500px
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#select-work-wrapper
		min-width 500px
		width 75%
		

	.select-work li
		width 30vw
		height @width
		
	
	.select-work ul
		// max-width 624px
		// min-width 500px
		


/*---------------------------------------------------------------*/
/* Breakpoint 4 | Tiny Screen || iPad */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#select-work-wrapper
		min-width 300px
		width 75%
		
	.select-work li
		width 70vw 
		height @width
	
	.select-work ul
		max-width 600px
		min-width 300px
		
	.select-work li:first-child // Hide the case study filler on desktop
		display list-item
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#select-work-wrapper
		min-width 300px
		width 75%
		
	.select-work li
		width 70vw 
		height @width
	
	.select-work ul
		max-width 600px
		min-width 300px
		
	.select-work li:first-child // Hide the case study filler on desktop
		display list-item
		


//---------------------------------------------------------------
// Breakpoint 5 | iPad			
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)


/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 96dpi)
	// #select-work-wrapper h3
	// 	margin-top 50px
		
	#select-work
		padding-top 35%
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	// #select-work-wrapper h3
	// 	margin-top 50px
		
	#select-work
		padding-top 35%

		
		

//---------------------------------------------------------------
// Breakpoint 6 | Phablet // iPhone 6s
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	#select-work-wrapper
		min-width 275px
		width 85% 
		
	.select-work li
		width 85vw 
		height @width
		margin-left 0
		margin-right 0
		
	.select-work ul
		max-width 500px
		min-width 100px

		



	