/*

Typographic Hierarchy

*/

@require 'type.styl'
@require 'color.styl'

//---------------------------------------------------------------
// Native Resolution


// Basic Typographic Elements
a
	text-decoration none
	
a::selection
	background $ACCENT_YELLOW


h1
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 72px
	
	letter-spacing 1.15px
	
	text-align left
	line-height 1em
	
	color $BLACK
	
h1::selection
	background $ACCENT_YELLOW
	

h1.endeavor-header
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	
	font-size 72px
	letter-spacing -0.025em
	line-height 1.5em
	text-align center
	
	margin-bottom 25px
	
	color $BLACK
	
h1.endeavor-section-opener
	font-weight 600
	font-size 150px
	letter-spacing 0.025em
	line-height 1em
	text-align center
	text-transform uppercase
	
	padding 5px
	
h1.thin
	font-weight 200

h2
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	letter-spacing -0.025em
	line-height 1.25em
	font-size 60px
	color $BLACK
	

h2.project-intro
	font-size 36px
	


h2.section-intro
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 24px
	
	text-transform uppercase
	letter-spacing 3px
	line-height 1.25em
	
	color $BLACK
	

h2.card-header
	font-family 'Source Sans Pro', sans-serif
	font-weight 200
	font-size 24px
	
	line-height 1.25em
	
	color $BLACK
	
	
h2::selection
	background $ACCENT_YELLOW


h3
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 12px
	text-transform uppercase
	letter-spacing 2px
	text-align left
	color $BLACK
	
h3::selection
	background $ACCENT_YELLOW
	

.h3
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 12px
	text-transform uppercase
	letter-spacing 2px
	text-align left
	color $BLACK
	

h3.h3-point
	font-weight 400
	font-size 18px
	
	text-transform none
	letter-spacing 0
	
	color $GREY


h4
	width 100%
	margin-bottom 10px
	
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 14px
	line-height 1.5em
	
	text-transform uppercase
	letter-spacing 1.5px
	text-align left
	
	color $GREY
	
h4::selection
	background $ACCENT_YELLOW


h5
	width 100%
	margin-bottom 5px
	
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	line-height 1.5em
	
	text-transform uppercase
	letter-spacing 1.5px
	text-align left
	
	color $GREY
	
	
h5::selection
	background $ACCENT_YELLOW

	
h6::selection
	background $ACCENT_YELLOW
	

li
	// font-family: 'BerlingskeSans-Regular'
		
li::selection
	background $ACCENT_YELLOW


ol
	// font-family: 'BerlingskeSans-Regular'
		
ol::selection
	background $ACCENT_YELLOW
	

p
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	margin 0
	font-size 24px
	line-height 36px
	

p.roman
	font-weight 400
	

p.big-p
	font-size 36px
	line-height 48px
	

p.lil-p
	font-size 18px
	line-height 1.5em

	
p::selection
	background $ACCENT_YELLOW
	

p.endeavor-subtext
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	
	max-width 650px
	
	font-size 18px
	letter-spacing 0
	line-height 1.5em
	color $BLACK
	

p.endeavor-subtext-header
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	
	max-width 650px
	
	font-size 18px
	letter-spacing 0
	line-height 1.5em
	color $BLACK
	

p.copy-small
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	
	max-width 650px
	
	font-size 14px
	letter-spacing 0
	line-height 1.5em
	color $BLACK
	

p.copy-small-header
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	
	max-width 650px
	
	font-size 14px
	letter-spacing 0
	line-height 1.5em
	color $BLACK
	

p.endeavor-pulltext
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	max-width 300px
	
	font-size 36px
	letter-spacing 0
	line-height 1.5em
	color $BLACK

	

q
	font-family 'Source Sans Pro', sans-serif
	font-weight 300
	font-size 36px
	
	line-height 1.2em
	
	display inline-block
	
	color $BLACK_Q
	
	margin-top 50px
	margin-bottom 50px
	
q::selection
	background $ACCENT_YELLOW

	
	
ul::selection
	background $ACCENT_YELLOW
	

img::selection
	background $ACCENT_YELLOW

	
	

// Elements Containing Type

body
	text-rendering optimizeLegibility
	text-align left
	color $BLACK


article
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

aside
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px



blockquote
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 60px
	
	line-height 1.25em
	text-align left

	color $BLACK_Q
	


button
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

figure
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

figcaption
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

footer
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

main
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

nav
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

time
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

section
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

summary
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px
	

// Type for each project


article h1
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

article h2
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px

	

//  Interactive Simuation
//  These require targeted styling


summary p
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 18px
	
	color $GRAY35


section details
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 14px
	

.tight
	line-height 1.25em
	


#greeting p
	font-weight 400
	line-height 1.25


#greeting p:first-child
	margin-bottom 0.5em
	font-weight 600
	

// Font Weight
.weight-200
	font-weight 200


.weight-300
	font-weight 300


.weight-400
	font-weight 400
	

.weight-600
	font-weight 600
	


/*
 *	Media Queries
 */
 


//---------------------------------------------------------------
// Breakpoint 1 | Medium Screen

@media screen and (max-width: 1025px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	h1.endeavor-section-opener
		font-size 108px
		

		
@media screen and (max-width: 1025px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)		
	h1.endeavor-section-opener
		font-size 108px
		


/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 96dpi)
	h1.endeavor-header
		font-size 60px
		
	h1.endeavor-section-opener
		font-size 72px
		
	summary p
		font-size 24px
		line-height 36px
		
	p.endeavor-subtext
		font-size 14px
		line-height 20px
		
	p.endeavor-pulltext
		margin 25px
		font-size 30px
		
	p.big-p
		font-size 24px
		line-height 32px
		
	p
		font-size 18px
		line-height 24px
		
	p.lil-p
		font-size 14px
		line-height 20px
		
	h2
		font-size 42px


/* ----------- Retina Screens ----------- */
@media screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	h1.endeavor-header
		font-size 60px
		
	h1.endeavor-section-opener
		font-size 72px
		
	summary p
		font-size 24px
		line-height 36px
		
	p.endeavor-subtext
		font-size 14px
		line-height 20px
		
	p.endeavor-pulltext
		margin 25px
		font-size 30px
		
	p.big-p
		font-size 24px
		line-height 32px
		
	p
		font-size 18px
		line-height 24px
		
	p.lil-p
		font-size 14px
		line-height 20px
		
	h2
		font-size 42px
				
		

// Breakpoint 2 | Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

	h1
		font-size 36px
		
	h1.endeavor-header
		font-size 42px
		
	h1.endeavor-section-opener
		font-size 48px
		
	h2
		font-size 30px
		
	h3.h3-point
		font-size 18px
		
	h4
		font-size 12px
		
	p.big-p
		font-size 18px
		line-height 24px
		
	p
		font-size 16px
		line-height 24px
		
	p.lil-p
		font-size 14px
		line-height 20px
		
		

		
/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	h1
		font-size 36px
		
	h1.endeavor-header
		font-size 42px
		
	h1.endeavor-section-opener
		font-size 48px
		
	h2
		font-size 30px
		
	h3.h3-point
		font-size 18px
		
	h4
		font-size 12px
		
	p.big-p
		font-size 18px
		line-height 24px
		
	p
		font-size 16px
		line-height 24px
		
	p.lil-p
		font-size 14px
		line-height 20px
				



//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s+
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)		
	summary p
		font-size 18px
		line-height 24px
		
	q 
		font-size 24px
		
	h5
		font-size 14px


	
