/*

Typography

*/

@font-face 
	font-family Chronicle-Semitalic
	src url(../fonts/ChronicleDeck-Semitalic.otf)
	

@font-face 
	font-family Chronicle-Italic
	src url(../fonts/ChronicleTextG1-Italic-Pro.otf)


@font-face 
	font-family Chronicle-Roman
	src url(../fonts/ChronicleDeck-Roman.otf)
	

@font-face 
	font-family Chronicle-Text-G2
	src url(../fonts/ChronicleTextG2-Roman-Pro.otf)
	

@font-face 
	font-family Chronicle-Display
	src url(../fonts/ChronicleDisp-Bold.otf)


@font-face 
	font-family Circular-Bold
	src url(../fonts/CircularStd-Bold.otf)


@font-face 
	font-family Circular-Roman
	src url(../fonts/CircularStd-Book.otf)


@font-face 
	font-family Circular-Medium
	src url(../fonts/CircularStd-Book.otf)

// Note this is a trial version
@font-face 
	font-family GT-Flexa-Exp-Md
	src url(../fonts/GT-Flexa-Expanded-Regular-Trial.woff2)

// Note this is a trial version
@font-face 
	font-family GT-Flexa-Cm-Rg
	src url(../fonts/GT-Flexa-X-Compressed-Regular-Trial.woff2)

// Note this is a trial version
@font-face 
	font-family GT-Flexa-Rg
	src url(../fonts/GT-Flexa-Regular-Trial.woff2)
	