/*

Typographic Hierarchy

*/

@require 'type.styl'
@require 'color.styl'

//---------------------------------------------------------------
// Native Resolution


// Basic Typographic Elements
a
	text-decoration none
	
a::selection
	background $ACCENT_YELLOW


h1
	font-family Circular-Bold, sans
	color $BLACK
	line-height 1.25em
	text-align left
	font-weight bold
	font-size 42px
	
h1::selection
	background $ACCENT_YELLOW


h2
	font-family Chronicle-Display
	letter-spacing 0.05em
	line-height 1.25em
	font-size 36px
	color $BLACK
	
	
h2::selection
	background $ACCENT_YELLOW


h3
	font-family Circular-Bold
	font-size 12px
	text-transform uppercase
	letter-spacing 3px
	text-align left
	color $BLACK
	
h3::selection
	background $ACCENT_YELLOW


h4
	width 100%
	// border-bottom 1px solid $BLACK
	// padding-bottom 10px
	margin-bottom 25px
	font-family Circular-Bold
	font-size 12px
	line-height 1.5em
	text-transform uppercase
	letter-spacing 3px
	text-align left
	color $GREY
	
h4::selection
	background $ACCENT_YELLOW


h5
	font-family Circular-Bold
	font-size 18px
	letter-spacing 3px
	text-align center
	
	color $BLACK
	
	margin-bottom 25px
	
	
h5::selection
	background $ACCENT_YELLOW

	
h6
	font-family 'BerlingskeSans-Regular'
	
h6::selection
	background $ACCENT_YELLOW
	

li
	// font-family: 'BerlingskeSans-Regular'
		
li::selection
	background $ACCENT_YELLOW


ol
	// font-family: 'BerlingskeSans-Regular'
		
ol::selection
	background $ACCENT_YELLOW
	

p
	margin 0
	font-size 18px
	line-height 1.75em
	
p::selection
	background $ACCENT_YELLOW

	

q
	color $BLACK_Q
	font-family Chronicle-Semitalic, italic
	font-size 30px
	line-height 1.5em
	display inline-block
	margin-top 50px
	margin-bottom 50px
	
q::selection
	background $ACCENT_YELLOW

	
	
ul::selection
	background $ACCENT_YELLOW
	

img::selection
	background $ACCENT_YELLOW

	
	

// Elements Containing Type

body
	text-rendering optimizeLegibility
	text-align left
	color $BLACK


article
	font-family 'BerlingskeSans-Regular'

	

aside
	font-family 'BerlingskeSans-Regular'



blockquote
	font-family Circular-Bold, sans
	color $BLACK_Q
	line-height 1.25em
	text-align left
	font-weight bold
	font-size 60px
	


button
	font-family 'BerlingskeSans-Regular'

	

figure
	font-family 'BerlingskeSans-Regular'

	

figcaption
	font-family Chronicle-Text-G2
	font-size 14px

	

footer
	font-family 'BerlingskeSans-Regular'

	

main
	font-family 'BerlingskeSans-Regular'

	

nav
	// font-family 'BerlingskeSans-Regular'

	

time
	font-family 'BerlingskeSans-Regular'

	

section
	font-family 'BerlingskeSans-Regular'

	

summary
	font-family 'Circular-Bold'
	

// Type for each project


article h1
	font-family 'BerlingskeSans-Regular'

	

article h2
	font-family 'BerlingskeSans-Regular'

	

//  Interactive Simuation
//  These require targeted styling


summary p
	color $BLACK_Q
	font-family 'Circular-Bold'
	font-size 18px


section details
	font-family 'BerlingskeSans-Regular'
	

#greeting p:first-child
	margin-bottom 1.5em


#greeting p:first-child:after
	position absolute
	display inline-block
	left 0
	top 35px
	width 20px
	border-bottom 3px solid
	content "" /* 1 */	
	


/*
 *	Media Queries
 */
 


//---------------------------------------------------------------
// Breakpoint 1 | Medium Screen

@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	summary p
		font-family 'Circular-Bold'
		font-size 14px
		
	#greeting p:first-child:after
		left 0
		top 25px
		width 15px
		

		
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	summary p
		font-family 'Circular-Bold'
		font-size 14px
		
	#greeting p:first-child:after
		left 0
		top 25px
		width 15px
		border-bottom 2px solid
				
		

// Breakpoint 2 | Small Screen

/* ----------- Non-Retina Screens ----------- */
// @media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
		

// @media screen and (max-height: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
		

		
/* ----------- Retina Screens ----------- */
// @media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
		
		
// @media screen and (max-height: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)		



//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s+
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	section button
		font-family 'BerlingskeSans-Regular'
		
	summary p
		font-size 12px
		line-height 1.5em
		
	q 
		font-size 24px
		
	h5
		font-size 14px
		letter-spacing 2px


	
