/*

Web-Lab | Define states for elements

*/

require('type.styl') 
require('color.styl') 


// --------------------------------------
// General Elements

#web-lab 
	width 100%
	height 100%
	

#greeting 
	position absolute
	display inline-block
	margin-top 35px
	margin-left 35px

	
// --------------------------------------	
// General interactive style
.button
	position relative
	display flex
	align-items center
	justify-content center
	user-select none 
	width 60px
	height 60px
	background-color $WHITE_BG
	border-radius 100%
	border 1px solid rgba(35 35 35 0)
	box-shadow 0 0 25px rgba(0,0,0,0.1)
	
	transition all ease 500ms
	

.button:hover
	cursor pointer
	box-shadow 0 0 25px rgba(0,0,0,0)
	border 1px solid rgba(35 35 35 0.18)
	

#web-lab ul
	list-style none
	

#web-lab input
	visibility hidden
	

.lab-menu label
	cursor pointer
	transition color 100ms ease
	

// --------------------------------------
// f(x) styles

.lab-options
	position fixed
	display flex
	align-items center
	user-select none
	left 35px
	bottom 35px
	width 400px
	height 50px;
	opacity 0 
	transition opacity 250ms ease-in-out
	

.lab-options-element
	position absolute
	clip rect(0,0,0,0)
	

label[for="lab-options-element"]
	float left
		

label[for="lab-options-element"] p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	
	letter-spacing 1px
	text-align center    
	
	display block
	
	align-self center
	
	color $BLACK
	
	transition color ease 250ms


.lab-options-element:checked ~ .lab-menu
	opacity 1
	

.lab-options-element:checked + label
	border 1px solid rgba(35 35 35 0)
	cursor pointer
	

.lab-menu
	display inline
	text-align left
	opacity 0
	float left
	width 80%
	transition opacity ease 250ms
	
	
.lab-menu ul li
	display inline-block
	padding-left 10px
	padding-right 10px
	border-left 1px solid $GREY
	transition color ease 100ms
	

.lab-menu ul li label
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	font-size 12px
	
	text-transform uppercase
	letter-spacing 3px
	
	color $GREY
	
.lab-menu ul li:first-child
	border-left none
	

.lab-menu label:hover
	cursor pointer
	color $BLACK
	

.lab-menu input + label
	color $GREY
	

.lab-menu input:checked + label
	color $BLACK
	
	
	

// --------------------------------------
// ? styles

.lab-what
	position fixed
	display flex
	flex-direction row
	justify-content flex-end
	align-items flex-end
	align-items center
	right 25px // Scroll Bar ~10px
	bottom 35px
	width 400px
	height 50px
	opacity 0
	transition opacity 250ms ease-in-out
	

.lab-what-element
	position absolute
	clip rect(0,0,0,0)
	

label[for="lab-what-element"]
	align-self flex-end
	order 1
		

label[for="lab-what-element"] p 
	font-family 'Source Sans Pro', sans-serif
	font-weight 600
	display block
	font-size 12px

	text-align center    
	
	align-self center
	
	color $BLACK
	
	transition color ease 250ms


.lab-what-element:checked ~ .lab-details
	opacity 1
	

.lab-what-element:checked + label
	border 1px solid rgba(35 35 35 0)
	cursor pointer
	

.lab-details
	align-self center
	order 0
	display inline
	text-align right
	padding-right 15px
	opacity 0
	float right
	width 60%
	margin-top -10px
	
	transition opacity 250ms ease-in-out
	
	
.lab-details p
	font-family 'Source Sans Pro', sans-serif
	font-weight 400
	font-size 12px
	
	line-height 1.5em

	display inline-block
	
	color $BLACK
	
	transition color ease 100ms
	

.lab-open
	opacity 1
	



// --------------------------------------
// Media Queries
 
//---------------------------------------------------------------
// Breakpoint 1 | iPad			
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
	.lab-menu ul li
		padding-left 5px
		padding-right 5px
		
	.lab-options
		visibility hidden


//---------------------------------------------------------------
// Breakpoint 2 | Phablet // iPhone 6s+
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	.lab-what
		visibility hidden
		
	.lab-options
		visibility hidden
		
	#greeting
		margin-top 25px
		margin-left 25px
		















