/*

works section

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

// @extend .module-font

/* -------------------------------------- */
/* Elements */

#fx-container
	flex-direction column
	z-index 995
	transition all 500ms ease-in-out
	

.project-open
	overflow-y hidden
	

.full
	width 100vw
	height 100vh
	

.project-full
	width 85vw
	max-width 1200px
	height 100vh
	

.fixed
	position fixed
	left 0
	top 0
	
.shadow
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)
	
.opaque
	background-color $WHITE_BG
	opacity 1
	

#works
	width 100%
	padding-top 15vh
	display flex
	

#works-wrapper
	width 100% 
	position relative
	margin-left auto
	margin-right auto
	display flex
	flex-direction column
	

.filler-content 
	width 100%
	height 100%
	

.open-transition-start
	position absolute
	width 0
	height 0 
	margin 0
	border-radius 100%
	background-color $WHITE_BG
	transition all 500ms ease-out
	

.open-transition-end
	if 100vw > 100vh
		circleSize = 300vw
		halfSize = (circleSize / -2)
		width circleSize
		height @width
		margin-left halfSize
		margin-top halfSize
	else
		circleSize = 300vh
		halfSize = (circleSize / -2)
		height circleSize
		width @height
		margin-left halfSize
		margin-top halfSize
		












