/*

works section

*/

@require 'color.styl'
@require 'type.styl'
@require 'select-work.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

// @extend .module-font


/* -------------------------------------- */
/* SVG Elements */

#svg-container
	position absolute
	left 0
	top 0
	width 100%
	height 100%


.transition-svg
	opacity 1
	fill $WHITE_BG
		


/* -------------------------------------- */
/* DOM Elements */

#fx-container
	display flex
	flex-direction column
	z-index 995
	transition all 1000ms ease-in-out
	

.passive
	pointer-events none
	

.endeavor-open
	overflow-y hidden
	

.full
	width 100vw
	height 100vh
	

.project-full
	width 85vw
	max-width 1200px
	height 100vh
	

.fixed
	position fixed
	left 0
	top 0
	
.shadow
	box-shadow 0 0 100px rgba(0, 0, 0, 0.18)
	
	
.transparent
	opacity 0 
	
	
.visibile
	opacity 1
	

.visibility-hidden
	visibility hidden
	

.opaque
	background-color $WHITE_BG
	// opacity 1
	

#works
	width 100%
	padding-top 15vh
	display flex
	

#works-wrapper
	width 100% 
	position relative
	margin-left auto
	margin-right auto
	display flex
	flex-direction column
	

.filler-content 
	width 100%
	height 100%
	
	
.project-transition
	position absolute


/*---------------------------------------------------------------*/
/* Breakpoint 2 | Tiny Screen && Mobile */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#works
		padding-top 5vh
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#works
		padding-top 5vh

		















