/*

Animations

*/

@keyframes arrow-animate {
	0% {
		transform: none
	}
	50% {
		transform: translate(0px,15px)   
	}
	0% {
		transform: none
	}
}

/*

	Page load animation

*/

@keyframes arrow-animate {  
	0% {
		opacity: 0
	}
	100% {
		opacity: 1  
	}
}