/*

case study

*/

@require 'color.styl'
@require 'type.styl'



/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

/* -------------------------------------- */
/* Elements */

.open-project
	overflow: hidden