/*

feature section

*/

@require 'color.styl'
@require 'type.styl'


/* -------------------------------------- */
/* Variables */

$Margins = 100px
$F-padding = 15px

/* -------------------------------------- */
/* Elements */

#feature 
	width: 100%
	padding-top: 25%
	padding-bottom: 25%
	

#feature-wrapper
	max-width: 1200px
	min-width: 650px
	width: 75% 
	position: relative
	margin-left: auto
	margin-right: auto


.feature p 
	text-align: center
	font-family: Chronicle-Roman, serif
	font-size: 18px
	line-height: 1.75em
	letter-spacing: 0
	

.feature ul
	width: 100%
	margin-left: auto
	margin-right: auto
	margin-top: 5%
	position: relative
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	

.feature li
	width: 50px
	height: 50px
	margin: 25px

	line-height: 150px
	color: white
	font-weight: bold
	font-size: 3em
	text-align: center
	transition: all 250ms ease-in-out
	
	background-repeat: no-repeat
	background-attachment: scroll
	background-size: cover   
	background-position: center 
	

.feature img 
	width: 0


.feature button:hover 
	cursor: pointer
	background-color: #404040
	border-color: #404040
	

.feature img
	clip-path: none


/*
 *	Media Queries
 */
 

/*---------------------------------------------------------------*/
/* Breakpoint 1 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.feature li
		width: 100px
		height: @width
		
	.feature ul
		max-width: 1000px
		min-width: 850px
		

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.feature li
		width: 100px
		height: @width
		
	.feature ul
		max-width: 1000px
		min-width: 850px
 


 /*---------------------------------------------------------------*/
/* Breakpoint 2 | Medium Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	.feature li
		width: 75px
		height: @width
		
	.feature ul
		max-width: 850px
		min-width: 750px
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.feature li
		width: 75px
		height: @width
		
	.feature ul
		max-width: 850px
		min-width: 750px

 

/*---------------------------------------------------------------*/
/* Breakpoint 3 | Small Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#feature-wrapper
		min-width: 500px
		width: 75% 
	
	.feature ul
		max-width: 624px
		min-width: 500px
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#feature-wrapper
		min-width: 500px
		width: 75% 
	
	.feature ul
		max-width: 624px
		min-width: 500px
		


/*---------------------------------------------------------------*/
/* Breakpoint 4 | Tiny Screen */

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 600px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)	
	#feature-wrapper
		min-width: 500px
		width: 75% 
	
	.feature ul
		max-width: 400px
		min-width: 300px
		
		

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 600px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	#feature-wrapper
		min-width: 500px
		width: 75% 
	
	.feature ul
		max-width: 400px
		min-width: 300px
		
		

//---------------------------------------------------------------
// Breakpoint 5 | Phablet // iPhone 6s
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	#feature-wrapper
		min-width: 300px
		width: 90% 
		
	.feature li
		width: 35px
		height: @width

		



	