/*

Navigation Elements

*/

@require 'color.styl'
@require 'type.styl'


// Pagination

.pagination 
	width: 7px
	height: 7px
	position: relative
	margin-left: auto
	margin-right: auto
	margin-bottom: 25px
	/*border-radius: 100%*/
	border: 1px solid rgba(0,0,0,0.25)
	transition: all ease-in-out 100ms


.pagination-active 
	background-color: black


.pagination:hover 
	transform:scale(2,2)
	background-color: black
	border: 1px solid rgba(0,0,0,0)
	cursor: pointer


.pagination:active 
	transform:scale(2,2)
	background-color: white
	border: 1px solid black


#pagination 
	position: fixed
	width: 10px
	right: 35px
	text-align: center


#pagination i 
	display: inline-block
	padding: 10px
	position: relative
	margin-top: 10px
	

#pagination div:last-of-type 
	margin-bottom: 0
	

// Navigation-Burger

#nav-burger 
	right: 50px
	opacity: 1


#nav-button i 
	margin-top: 7px
	

#arrow 
	display: block
	position:absolute
	bottom: 50px 
	text-align: center
	border-radius: 100%
	border: solid 1px rgba(0,0,0,0)
	margin-left: 50%
	padding: 25px
	height: 50px
	width: 50px
	opacity: 0.25
	animation: arrow-animate 1s ease-in-out 2s infinite
	transition: all 250ms


#arrow:hover 
	border: solid 1px rgba(0,0,0,1)
	animation-play-state: paused


#arrow:active 
	border: solid 1px rgba(0,0,0,0)
	animation-play-state: paused
	

// Nav Menu

.nav 
	position: fixed
	width: 100%
	background-color: $BLACK_BG
	top: 0px
	height: 100%
	opacity: 0
	display: flex
	flex-direction: row
	visibility: hidden
	transition: opacity 250ms ease-in-out


#nav-overlay
	width: 100%
	height: 100%
	background-color: $BLACK


.nav-trigger 
	position: absolute
	clip: rect(0,0,0,0)
	// display: none
		

label[for="nav-trigger"] 
	position: fixed
	right: 0
	top: 25px
	width:  75px
	height: 75px
	cursor: pointer
	background-size: contain
	transition: all 250ms ease-in-out


// label[for="nav-trigger"]:hover 
// 	background-color: red


label[for="nav-trigger"] hr 
	width: 25px	
	height: 2px
	border: none
	margin-bottom: 8px
	opacity: 1
	color: $BLACK
	background-color: $BLACK
	transition: all 250ms ease-in-out


label[for="nav-trigger"] hr:first-child 
	margin-top: 28px


label[for="nav-trigger"] hr:nth-child(3) 
	margin-top: -10px


.nav-trigger:checked + label hr:first-child 
	opacity: 0


.nav-trigger:checked + label hr:last-child 
	opacity: 0 


.nav-trigger:checked + label hr:nth-child(2) 
	transform: rotate(45deg)
	background-color: $BLACK


.nav-trigger:checked + label hr:nth-child(3) 
	transform: rotate(-45deg)
	background-color: $BLACK


.nav-trigger:checked + label 
	// right: 411px


.nav-trigger:checked + label:hover 
	// right: 411px
	// border: solid 0px rgba(218,218,218,0)


.nav-trigger:checked ~ .nav 
	opacity: 1
	visibility: visible


.nav-trigger + label 
	transition: all 250ms ease-in-out
	

// Nav Content

.nav-content
	right: 100px
	top: 200px
	width: 300px
	position: fixed
	height: 80%
	

// Links

nav a
	color: $WHITE
	text-decoration: none
	border-bottom: none
	transition: border-bottom 100ms ease-in-out
	

nav li a:hover
	border-bottom: 7.5px solid $WHITE
	

nav .social a // Open social links in new tabs
	target-name: new
	target-new: tab
	

// Header

.header
	width: 100%
	height: 120px
	background-color: $WHITE
	position: fixed
	top: 0
	
#logo-header 
	float: left
	position: fixed
	margin-top: 35px
	margin-left: 10px 
	
#logo-header:hover
	cursor: pointer


#logo-header img 
	width: 50px
	position: relative
	display: block
	margin-left: 25px
	opacity: 0.8
	

//  Social buttons

.social 
	color: $WHITE
	width: 100%
	position: absolute
	bottom: 100px
	padding-top: 25px
	border-top: 1px solid $WHITE
	text-align: right
	word-spacing: 15px
	align-self: center
	
.social i
	margin-left: 25px
	padding: 5px
	
	
// Down-Arrow

.scroll-arrow
	display: inline-block
	align-self: flex-end
	left: 50%
	bottom: 5%
	position: absolute
	text-align: center
	border-radius: 100%
	border: solid 1px rgba(0,0,0,0)
	padding: 25px
	height: 25px
	width: 25px
	animation: arrow-animate 1s ease-in-out 2s infinite
	transition: transform 250ms


.scroll-arrow:hover
	border: solid 1px rgba(0,0,0,1)
	animation-play-state: paused


.scroll-arrow:active
	border: solid 1px rgba(0,0,0,1)
	opacity: 0.25
	animation-play-state: paused
	

//  Scrollbar
	

::-webkit-scrollbar
	width: 14px
	height: 18px

::-webkit-scrollbar-thumb
	height: 6px
	border: 4px solid rgba(0, 0, 0, 0)
	background-clip: padding-box
	border-radius: 7px
	background-color: rgba(0, 0, 0, 0.15)

::-webkit-scrollbar-button 
	width: 0
	height: 0
	display: none

::-webkit-scrollbar-corner 
	background-color: transparent
	

/*
 *	Media Queries
 */
 


//---------------------------------------------------------------
// Breakpoint 1 | Medium Screen

// @media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)

		
// @media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
		

// Breakpoint 2 | Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.nav-content
		width: 200px
		
/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.nav-content
		width: 200px



//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s+
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	section button
		font-family: 'BerlingskeSans-Regular'



//---------------------------------------------------------------
// Breakpoint 4 | Big Mobile // iPhone 6s
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)
	section button
		font-family: 'BerlingskeSans-Regular'



//---------------------------------------------------------------
// Breakpoint 5 | Medium Mobile // iPhone 5s, 5, 4
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)
	section button
	




