/*

Navigation Elements

*/




// Pagination

.pagination 
	width: 7px
	height: 7px
	position: relative
	margin-left: auto
	margin-right: auto
	margin-bottom: 25px
	/*border-radius: 100%*/
	border: 1px solid rgba(0,0,0,0.25)
	transition: all ease-in-out 100ms


.pagination-active 
	background-color: black


.pagination:hover 
	transform:scale(2,2)
	background-color: black
	border: 1px solid rgba(0,0,0,0)
	cursor: pointer


.pagination:active 
	transform:scale(2,2)
	background-color: white
	border: 1px solid black


#pagination 
	position: fixed
	width: 10px
	right: 50px
	z-index: 100
	text-align: center


#pagination i 
	display: inline-block
	padding: 10px
	position: relative
	margin-top: 10px
	

#pagination div:last-of-type 
	margin-bottom: 0
	

// Navigation-Burger

#nav-burger 
	right: 50px
	opacity: 1


#nav-button i 
	margin-top: 7px
	

#arrow 
	display: block
	position:absolute
	bottom: 50px 
	text-align: center
	border-radius: 100%
	border: solid 1px rgba(0,0,0,0)
	margin-left: 50%
	padding: 25px
	height: 50px
	width: 50px
	opacity: 0.25
	z-index: 100
	animation: arrow-animate 1s ease-in-out 2s infinite
	transition: all 250ms


#arrow:hover 
	border: solid 1px rgba(0,0,0,1)
	animation-play-state: paused


#arrow:active 
	border: solid 1px rgba(0,0,0,0)
	animation-play-state: paused


.nav 
	position: fixed
	z-index: 100
	width: 411px
	background-color: #fff
	right: -510px
	top: 0px
	height: 100%
	z-index: 1000
	border: solid 1px rgba(218,218,218,0)
	box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.18)
	transition: all 0.5s ease-in-out


// .nav .social 
	/*margin-top: -10px*/


#nav-box 
	width: 225px
	margin-top: 75%
	margin-left: auto
	margin-right: auto


#nav-box ul 
	width: 100%


#nav-box li 
	text-align: center
	position: relative
	display: block
	border-bottom: 1.25px dotted black
	border-left: 1.25px dotted black
	border-right: 1.25px dotted black
	height: 70px
	line-height: 70px
	transition: all 250ms


#nav-box li:hover 
	background-color: rgb(35,35,35)
	cursor: pointer


#nav-box li:first-child 
	margin-top: 35px
	border-top: 1.25px dotted black


#nav-box li:last-child 
	margin-top: 35px
	border-top: 1.25px dotted black


#nav-box a 
	color: black
	text-decoration: none
	font-family: BerlingskeSans-Bold, sans-serif
	text-transform: uppercase
	font-size: 12px
	letter-spacing: 2px
	padding-bottom: 2px
	padding-top: 22px
	transition: all 250ms


#nav-box li:hover a
	color: rgb(225,225,225)


.nav-trigger 
	position: relative
	clip: rect(0,0,0,0)
	display: none


label[for="nav-trigger"] 
	position: fixed
	top: 50px
	z-index: 1001
	width:  75px
	height: 75px
	border: solid 1.5px rgba(35, 35, 35, 1)
	/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18)*/
	cursor: pointer
	background-color: white
	/*background-image: url("../images/hamburger2.svg")*/
	background-size: contain


label[for="nav-trigger"]:hover 
	box-shadow: 0 0 3px rgba(0,0,0,0.18)
	border: solid 1px rgba(218,218,218,0)


label[for="nav-trigger"] hr 
	width: 25px	
	height: 2px
	border: none
	margin-bottom: 8px
	color: rgba(35, 35, 35, 1)
	background-color: rgba(35, 35, 35, 1)
	transition: all 250ms ease-in-out


label[for="nav-trigger"] hr:first-child 
	margin-top: 28px


label[for="nav-trigger"] hr:nth-child(3) 
	margin-top: -10px


.nav-trigger:checked + label hr:first-child 
	color: rgba(35, 35, 35, 0)
	background-color: rgba(35, 35, 35, 0)


.nav-trigger:checked + label hr:last-child 
	color: rgba(35, 35, 35, 0)
	background-color: rgba(35, 35, 35, 0)


.nav-trigger:checked + label hr:nth-child(2) 
	transform: rotate(45deg)


.nav-trigger:checked + label hr:nth-child(3) 
	transform: rotate(-45deg)


.nav-trigger:checked + label 
	right: 411px
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1)
	border: solid 0px rgba(218,218,218,0)


.nav-trigger:checked + label:hover 
	right: 411px
	border: solid 0px rgba(218,218,218,0)


.nav-trigger:checked ~ .nav 
	right: 0


.nav-trigger + label 
	transition: all 0.5s ease-in-out


.next-section 
	display: inline-block
	width: 250px
	text-align: left
	position: relative
	right: 95px
	top: 140px
	transform: rotate(90deg)
	
	
// Down-Arrow

.scroll-arrow
	display: inline-block
	align-self: flex-end
	left: 50%
	bottom: 5%
	position: absolute
	text-align: center
	border-radius: 100%
	border: solid 1px rgba(0,0,0,0)
	padding: 25px
	height: 25px
	width: 25px
	z-index: 100
	animation: arrow-animate 1s ease-in-out 2s infinite
	transition: transform 250ms


.scroll-arrow:hover
	border: solid 1px rgba(0,0,0,1)
	animation-play-state: paused


.scroll-arrow:active
	border: solid 1px rgba(0,0,0,1)
	opacity: 0.25
	animation-play-state: paused
	

//  Scrollbar
	

::-webkit-scrollbar
	width: 14px
	height: 18px

::-webkit-scrollbar-thumb
	height: 6px
	border: 4px solid rgba(0, 0, 0, 0)
	background-clip: padding-box
	border-radius: 7px
	background-color: rgba(0, 0, 0, 0.15)

::-webkit-scrollbar-button 
	width: 0
	height: 0
	display: none

::-webkit-scrollbar-corner 
	background-color: transparent
	




