/*

Typographic Hierarchy

*/

@require 'type.styl'
@require 'color.styl'

//---------------------------------------------------------------
// Native Resolution


// Borders
body 
	border-color: $BLACK

// Basic Typographic Elements

a
	// font-family: 'BerlingskeSans-Regular'
	

br 
	font-family: 'BerlingskeSans-Regular'


h1
	font-family: 'BerlingskeSans-Regular'


h2
	font-family: 'BerlingskeSans-Regular'


h3
	font-family: 'BerlingskeSans-Regular'


h4
	font-family: 'BerlingskeSans-Regular'


h5
	font-family: 'BerlingskeSans-Regular'

	
h6
	font-family: 'BerlingskeSans-Regular'
	

li
	// font-family: 'BerlingskeSans-Regular'


ol
	// font-family: 'BerlingskeSans-Regular'
	

p
	margin: 0
	line-height: 1.75em

	

q
	font-family: 'BerlingskeSans-Regular'

	
	
ul
	// font-family: 'BerlingskeSans-Regular'

	
	

// Elements Containing Type

body
	text-rendering: optimizeLegibility
	text-align: left
	color: $BLACK


article
	font-family: 'BerlingskeSans-Regular'

	

aside
	font-family: 'BerlingskeSans-Regular'



blockquote
	font-family: 'BerlingskeSans-Regular'

	

button
	font-family: 'BerlingskeSans-Regular'

	

details
	font-family: 'BerlingskeSans-Regular'

	

figure
	font-family: 'BerlingskeSans-Regular'

	

figcaption
	font-family: 'BerlingskeSans-Regular'

	

footer
	font-family: 'BerlingskeSans-Regular'

	

main
	font-family: 'BerlingskeSans-Regular'

	

nav
	// font-family: 'BerlingskeSans-Regular'

	

time
	font-family: 'BerlingskeSans-Regular'

	

section
	font-family: 'BerlingskeSans-Regular'

	

summary
	font-family: 'Circular-Bold'
	

// Type for each project


article h1
	font-family: 'BerlingskeSans-Regular'

	

article h2
	font-family: 'BerlingskeSans-Regular'

	

//  Interactive Simuation
//  These require targeted styling


summary p
	font-family: 'Circular-Bold'
	font-size: 18px


section details
	font-family: 'BerlingskeSans-Regular'
	

#greeting p:first-child
	margin-bottom: 1.5em


#greeting p:first-child:after
	position: relative
	display: inline-block
	margin-left: -123px
	top: 13px
	width: 20px
	border-bottom: 3px solid
	content: " " /* 1 */
	


// Navigation
//  These require targeted styling
.nav ul
	list-style: none
	font-family: Circular-Bold, sans-serif
	font-size: 60px
	letter-spacing: 3px
	line-height: 2em
	text-align: right
	


/*
 *	Media Queries
 */
 


//---------------------------------------------------------------
// Breakpoint 1 | Medium Screen

@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	summary p
		font-family: 'Circular-Bold'
		font-size: 14px
		
	#greeting p:first-child:after
		margin-left: -97px
		top: 11px
		width: 15px
		
	.nav ul
		font-size: 48px
		letter-spacing: 2.5px
		

@media screen and (max-width: 1000px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.nav ul
		font-size: 48px
		letter-spacing: 2.5px
		

		
@media screen and (max-width: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	summary p
		font-family: 'Circular-Bold'
		font-size: 14px
		
	#greeting p:first-child:after
		margin-left: -97px
		top: 11px
		width: 15px
		border-bottom: 2px solid
		
	.nav ul
		font-size: 48px
		letter-spacing: 2.5px
		

@media screen and (max-height: 1000px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.nav ul
		font-size: 48px
		letter-spacing: 2.5px
		
		

// Breakpoint 2 | Small Screen

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.nav ul
		font-size: 36px
		letter-spacing: 2px
		

@media screen and (max-height: 500px) and (min-resolution: 1dppx) and (min-resolution: 96dpi)
	.nav ul
		font-size: 36px
		letter-spacing: 2px
		

		
/* ----------- Retina Screens ----------- */
@media screen and (max-width: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)
	.nav ul
		font-size: 36px
		letter-spacing: 2px
		
		
@media screen and (max-height: 500px) and (min-resolution: 2dppx) and (min-resolution: 192dpi)		
	.nav ul
		font-size: 36px
		letter-spacing: 2px



//---------------------------------------------------------------
// Breakpoint 3 | Phablet // iPhone 6s+
@media only screen and (max-device-width: 414px) and (min-resolution: 2dppx)
	section button
		font-family: 'BerlingskeSans-Regular'



//---------------------------------------------------------------
// Breakpoint 4 | Big Mobile // iPhone 6s
@media only screen and (max-device-width: 375px) and (min-resolution: 2dppx)
	section button
		font-family: 'BerlingskeSans-Regular'



//---------------------------------------------------------------
// Breakpoint 5 | Medium Mobile // iPhone 5s, 5, 4
@media only screen and (max-device-width: 320px) and (min-resolution: 2dppx)
	section button
		font-family: 'BerlingskeSans-Regular' 


	
