/*

Typographic Hierarchy

*/

@require 'type.styl'

//---------------------------------------------------------------
// Native Resolution

// Basic Typographic Elements

a
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility	

br 
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

h1
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

h2
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

h3
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

h4
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

h5
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	
h6
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility	

li
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

ol
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility	

p
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

q
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	
	
ul
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	
	

// Elements Containing Type


article
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

aside
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility


blockquote
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

details
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

figure
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

figcaption
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

footer
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

main
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

nav
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

time
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

section
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

summary
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

// Type for each project


article h1
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

article h2
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility
	

//  Interactive Simuation
//  These require targeted styling


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

section details
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

//---------------------------------------------------------------
// Breakpoint 1 | Small Desktop


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility


//---------------------------------------------------------------
// Breakpoint 2 | Tablet


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility


//---------------------------------------------------------------
// Breakpoint 3 | Big Mobile


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility


//---------------------------------------------------------------
// Breakpoint 4 | Medium Mobile


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility


//---------------------------------------------------------------
// Breakpoint 5 | Small Mobile


section button
	font-family: 'BerlingskeSans-Regular'
	text-rendering: optimizeLegibility

	
