/*

Typography

*/

@font-face 
	font-family: Chronicle-Semitalic
	src: url(../fonts/ChronicleDeck-Semitalic.otf)
	

@font-face 
	font-family: Chronicle-Italic
	src: url(../fonts/ChronicleTextG1-Italic-Pro.otf)


@font-face 
	font-family: Chronicle-Roman
	src: url(../fonts/ChronicleDeck-Roman.otf)
	

@font-face 
	font-family: Chronicle-Display
	src: url(../fonts/ChronicleDisp-Bold.otf)


@font-face 
	font-family: Circular-Bold
	src: url(../fonts/CircularStd-Bold.otf)


@font-face 
	font-family: Circular-Roman
	src: url(../fonts/CircularStd-Book.otf)